Source/Plugins/EPADelineation/Web References/gov.epa.iaspub/OWServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://waters_waters/OWServices.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://waters-waters/OWServices.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OWServices" targetNamespace="http://waters_waters/OWServices.wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://waters-waters/OWServices.xsd">
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_OwStringVry">
        <xsd:all>
          <xsd:element name="array" type="ns1:ArrayOfString" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfString">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_UpdnObjoutputUser">
        <xsd:all>
          <xsd:element name="returnCode" type="xsd:decimal" />
          <xsd:element name="statusMessage" type="xsd:string" />
          <xsd:element name="resolvedStarts" type="ns1:waters_waters_UpdnNttypestartFlowlines" />
          <xsd:element name="resolvedStops" type="ns1:waters_waters_UpdnNttypestopFlowlines" />
          <xsd:element name="updnTraversalSummary" type="ns1:waters_waters_UpdnRectraversalSummaryUser" />
          <xsd:element name="flowlinesTraversed" type="ns1:waters_waters_UpdnNttypeflowlinesTraversed" />
          <xsd:element name="eventsEncountered" type="ns1:waters_waters_UpdnNttypeeventsEncountered" />
          <xsd:element name="nearestEntitiesEncountered" type="ns1:waters_waters_UpdnNttypeentitiesEncounter" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_UpdnNttypestartFlowlines">
        <xsd:all>
          <xsd:element name="array" type="ns1:ArrayOfwaters_waters_UpdnRecflowlineinfoUser" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_UpdnRecflowlineinfoUser">
        <xsd:all>
          <xsd:element name="comid" type="xsd:decimal" />
          <xsd:element name="measure" type="xsd:decimal" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfwaters_waters_UpdnRecflowlineinfoUser">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="ns1:waters_waters_UpdnRecflowlineinfoUser[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_UpdnNttypestopFlowlines">
        <xsd:all>
          <xsd:element name="array" type="ns1:ArrayOfwaters_waters_UpdnRecflowlineinfoUser" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_UpdnRectraversalSummaryUser">
        <xsd:all>
          <xsd:element name="totalKmNavigated" type="xsd:decimal" />
          <xsd:element name="totalFlowlinesTraversed" type="xsd:decimal" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_UpdnNttypeflowlinesTraversed">
        <xsd:all>
          <xsd:element name="array" type="ns1:ArrayOfwaters_waters_UpdnRecflowlineTraversedUser" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_UpdnRecflowlineTraversedUser">
        <xsd:all>
          <xsd:element name="startcomid" type="xsd:decimal" />
          <xsd:element name="comid" type="xsd:decimal" />
          <xsd:element name="reachcode" type="xsd:string" />
          <xsd:element name="frommeas" type="xsd:decimal" />
          <xsd:element name="tomeas" type="xsd:decimal" />
          <xsd:element name="totaldist" type="xsd:decimal" />
          <xsd:element name="totaltime" type="xsd:decimal" />
          <xsd:element name="hydroseq" type="xsd:decimal" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfwaters_waters_UpdnRecflowlineTraversedUser">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="ns1:waters_waters_UpdnRecflowlineTraversedUser[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_UpdnNttypeeventsEncountered">
        <xsd:all>
          <xsd:element name="array" type="ns1:ArrayOfwaters_waters_UpdnReceventEncounteredUser" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_UpdnReceventEncounteredUser">
        <xsd:all>
          <xsd:element name="startcomid" type="xsd:decimal" />
          <xsd:element name="flcomid" type="xsd:decimal" />
          <xsd:element name="evtcomid" type="xsd:decimal" />
          <xsd:element name="reachcode" type="xsd:string" />
          <xsd:element name="sourceFeatureid" type="xsd:string" />
          <xsd:element name="sourceProgram" type="xsd:string" />
          <xsd:element name="fromMeasure" type="xsd:decimal" />
          <xsd:element name="toMeasure" type="xsd:decimal" />
          <xsd:element name="startMeasure" type="xsd:decimal" />
          <xsd:element name="traveledDistancekm" type="xsd:decimal" />
          <xsd:element name="traveledTime" type="xsd:decimal" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfwaters_waters_UpdnReceventEncounteredUser">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="ns1:waters_waters_UpdnReceventEncounteredUser[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_UpdnNttypeentitiesEncounter">
        <xsd:all>
          <xsd:element name="array" type="ns1:ArrayOfwaters_waters_UpdnRecentityEncounteredUser" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_UpdnRecentityEncounteredUser">
        <xsd:all>
          <xsd:element name="sourceFeatureid" type="xsd:string" />
          <xsd:element name="sourceProgram" type="xsd:string" />
          <xsd:element name="reachcode" type="xsd:string" />
          <xsd:element name="measure" type="xsd:decimal" />
          <xsd:element name="startcomid" type="xsd:decimal" />
          <xsd:element name="traveledDistancekm" type="xsd:decimal" />
          <xsd:element name="traveledTime" type="xsd:decimal" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfwaters_waters_UpdnRecentityEncounteredUser">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="ns1:waters_waters_UpdnRecentityEncounteredUser[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_UpdnObjnavigationoutputUser">
        <xsd:all>
          <xsd:element name="numreturncode" type="xsd:decimal" />
          <xsd:element name="strstatusmessage" type="xsd:string" />
          <xsd:element name="ntnavresultsstandard" type="ns1:waters_waters_UpdnNttypeflowlinesTraversed" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_NamesrvOutputUser">
        <xsd:all>
          <xsd:element name="results" type="ns1:waters_waters_NamesrvList" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_NamesrvList">
        <xsd:all>
          <xsd:element name="array" type="ns1:ArrayOfwaters_waters_NamesrvResultsUser" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_NamesrvResultsUser">
        <xsd:all>
          <xsd:element name="featureId" type="xsd:string" />
          <xsd:element name="featureName" type="xsd:string" />
          <xsd:element name="featureClass" type="xsd:string" />
          <xsd:element name="primaryState" type="xsd:string" />
          <xsd:element name="primaryStateFips" type="xsd:string" />
          <xsd:element name="primaryCounty" type="xsd:string" />
          <xsd:element name="primaryCountyFips" type="xsd:string" />
          <xsd:element name="gnisPrimaryStem" type="xsd:string" />
          <xsd:element name="gnisPrimaryHydro" type="xsd:string" />
          <xsd:element name="gnisPrimaryDir" type="xsd:string" />
          <xsd:element name="gnisSecondaryStem" type="xsd:string" />
          <xsd:element name="gnisSecondaryHydro" type="xsd:string" />
          <xsd:element name="gnisSecondaryDir" type="xsd:string" />
          <xsd:element name="gnisCentroidGeom" type="xsd:string" />
          <xsd:element name="resolution" type="xsd:decimal" />
          <xsd:element name="sourceSchema" type="xsd:string" />
          <xsd:element name="sourceTable" type="xsd:string" />
          <xsd:element name="subbasin" type="xsd:string" />
          <xsd:element name="ftype" type="xsd:string" />
          <xsd:element name="fcode" type="xsd:decimal" />
          <xsd:element name="mbrGeom" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfwaters_waters_NamesrvResultsUser">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="ns1:waters_waters_NamesrvResultsUser[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_TotalWatersServiceOutputUser">
        <xsd:all>
          <xsd:element name="results" type="ns1:waters_waters_TotalWatersServiceList" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_TotalWatersServiceList">
        <xsd:all>
          <xsd:element name="array" type="ns1:ArrayOfwaters_waters_TotalWatersServiceResultsUser" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_TotalWatersServiceResultsUser">
        <xsd:all>
          <xsd:element name="st" type="xsd:string" />
          <xsd:element name="nhdSt" type="xsd:string" />
          <xsd:element name="huc" type="xsd:string" />
          <xsd:element name="pgmSys" type="xsd:string" />
          <xsd:element name="fcodeGroup" type="xsd:string" />
          <xsd:element name="borderFlag" type="xsd:int" />
          <xsd:element name="nhdFlag" type="xsd:int" />
          <xsd:element name="featureClass" type="xsd:string" />
          <xsd:element name="featureTotal" type="xsd:decimal" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfwaters_waters_TotalWatersServiceResultsUser">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="ns1:waters_waters_TotalWatersServiceResultsUser[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_OwNumberVry">
        <xsd:all>
          <xsd:element name="array" type="ns1:ArrayOfBigDecimal" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfBigDecimal">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="xsd:decimal[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_NhdPointIndexingOutputUser">
        <xsd:all>
          <xsd:element name="tid" type="xsd:decimal" />
          <xsd:element name="totalDistance" type="xsd:decimal" />
          <xsd:element name="pathDistance" type="xsd:decimal" />
          <xsd:element name="startPoint" type="xsd:string" />
          <xsd:element name="endPoint" type="xsd:string" />
          <xsd:element name="indexingPath" type="xsd:string" />
          <xsd:element name="aryFlowlines" type="ns1:waters_waters_WatersGmlFlowlineList" />
          <xsd:element name="errorCode" type="xsd:decimal" />
          <xsd:element name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_WatersGmlFlowlineList">
        <xsd:all>
          <xsd:element name="array" type="ns1:ArrayOfwaters_waters_WatersGmlFlowlineUser" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_WatersGmlFlowlineUser">
        <xsd:all>
          <xsd:element name="comid" type="xsd:decimal" />
          <xsd:element name="reachcode" type="xsd:string" />
          <xsd:element name="nhdplusRegion" type="xsd:string" />
          <xsd:element name="nhdplusVersion" type="xsd:string" />
          <xsd:element name="reachsmdate" type="xsd:dateTime" />
          <xsd:element name="reachresolution" type="xsd:decimal" />
          <xsd:element name="gnisId" type="xsd:string" />
          <xsd:element name="gnisName" type="xsd:string" />
          <xsd:element name="wbareacomi" type="xsd:decimal" />
          <xsd:element name="fcode" type="xsd:decimal" />
          <xsd:element name="offset" type="xsd:decimal" />
          <xsd:element name="fmeasure" type="xsd:decimal" />
          <xsd:element name="tmeasure" type="xsd:decimal" />
          <xsd:element name="wbdHuc12" type="xsd:string" />
          <xsd:element name="wbdHuc12Percent" type="xsd:decimal" />
          <xsd:element name="vertices" type="xsd:decimal" />
          <xsd:element name="shape" type="xsd:string" />
          <xsd:element name="waterbodies" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfwaters_waters_WatersGmlFlowlineUser">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="ns1:waters_waters_WatersGmlFlowlineUser[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_UpdnObjinputUser">
        <xsd:all>
          <xsd:element name="navigationType" type="xsd:string" />
          <xsd:element name="startOptions" type="ns1:waters_waters_UpdnRecstartOptionsUser" />
          <xsd:element name="stopOptions" type="ns1:waters_waters_UpdnRecstopOptionsUser" />
          <xsd:element name="outputOptions" type="ns1:waters_waters_UpdnRecoutputOptionsUser" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_UpdnRecstartOptionsUser">
        <xsd:all>
          <xsd:element name="startComid" type="xsd:decimal" />
          <xsd:element name="startReachcode" type="xsd:string" />
          <xsd:element name="startMeasure" type="xsd:decimal" />
          <xsd:element name="startSourceFeatureid" type="xsd:string" />
          <xsd:element name="startSourceProgram" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_UpdnRecstopOptionsUser">
        <xsd:all>
          <xsd:element name="stopComid" type="xsd:decimal" />
          <xsd:element name="stopReachcode" type="xsd:string" />
          <xsd:element name="stopMeasure" type="xsd:decimal" />
          <xsd:element name="stopSourceFeatureid" type="xsd:string" />
          <xsd:element name="stopSourceProgram" type="xsd:string" />
          <xsd:element name="stopDistancekm" type="xsd:decimal" />
          <xsd:element name="stopTimeOfTravel" type="xsd:decimal" />
          <xsd:element name="stopBottomOfPath" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_UpdnRecoutputOptionsUser">
        <xsd:all>
          <xsd:element name="traversalSummary" type="xsd:string" />
          <xsd:element name="flowlinelist" type="xsd:string" />
          <xsd:element name="eventList" type="ns1:waters_waters_OwStringVry" />
          <xsd:element name="nearestEntityList" type="ns1:waters_waters_OwStringVry" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_NhdIndexingOutputUser">
        <xsd:all>
          <xsd:element name="batchId" type="xsd:decimal" />
          <xsd:element name="batchName" type="xsd:string" />
          <xsd:element name="batchDate" type="xsd:dateTime" />
          <xsd:element name="batchProgram" type="xsd:int" />
          <xsd:element name="batchComments" type="xsd:string" />
          <xsd:element name="batchSmdate" type="xsd:dateTime" />
          <xsd:element name="batchResolution" type="xsd:int" />
          <xsd:element name="pointEvents" type="ns1:waters_waters_NhdIndexingPointList" />
          <xsd:element name="lineEvents" type="ns1:waters_waters_NhdIndexingLineList" />
          <xsd:element name="areaEvents" type="ns1:waters_waters_NhdIndexingAreaList" />
          <xsd:element name="evt2meta" type="ns1:waters_waters_NhdIndexingEvt2metaList" />
          <xsd:element name="metadata" type="ns1:waters_waters_NhdIndexingMetadataList" />
          <xsd:element name="errorCode" type="xsd:decimal" />
          <xsd:element name="errorMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_NhdIndexingPointList">
        <xsd:all>
          <xsd:element name="array" type="ns1:ArrayOfwaters_waters_NhdIndexingPointUser" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_NhdIndexingPointUser">
        <xsd:all>
          <xsd:element name="comid" type="xsd:decimal" />
          <xsd:element name="eventdate" type="xsd:dateTime" />
          <xsd:element name="eventType" type="xsd:int" />
          <xsd:element name="reachcode" type="xsd:string" />
          <xsd:element name="reachsmdate" type="xsd:dateTime" />
          <xsd:element name="reachresolution" type="xsd:int" />
          <xsd:element name="featurecomid" type="xsd:int" />
          <xsd:element name="featureclassref" type="xsd:int" />
          <xsd:element name="sourceOriginator" type="xsd:string" />
          <xsd:element name="sourceDatadesc" type="xsd:string" />
          <xsd:element name="sourceFeatureid" type="xsd:string" />
          <xsd:element name="featuredetailurl" type="xsd:string" />
          <xsd:element name="offset" type="xsd:decimal" />
          <xsd:element name="measure" type="xsd:decimal" />
          <xsd:element name="geogstate" type="xsd:string" />
          <xsd:element name="cycleYear" type="xsd:string" />
          <xsd:element name="startDate" type="xsd:dateTime" />
          <xsd:element name="endDate" type="xsd:dateTime" />
          <xsd:element name="shape" type="xsd:string" />
          <xsd:element name="objectid" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfwaters_waters_NhdIndexingPointUser">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="ns1:waters_waters_NhdIndexingPointUser[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_NhdIndexingLineList">
        <xsd:all>
          <xsd:element name="array" type="ns1:ArrayOfwaters_waters_NhdIndexingLineUser" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_NhdIndexingLineUser">
        <xsd:all>
          <xsd:element name="comid" type="xsd:decimal" />
          <xsd:element name="eventdate" type="xsd:dateTime" />
          <xsd:element name="eventType" type="xsd:int" />
          <xsd:element name="reachcode" type="xsd:string" />
          <xsd:element name="reachsmdate" type="xsd:dateTime" />
          <xsd:element name="reachresolution" type="xsd:int" />
          <xsd:element name="featurecomid" type="xsd:int" />
          <xsd:element name="featureclassref" type="xsd:int" />
          <xsd:element name="sourceOriginator" type="xsd:string" />
          <xsd:element name="sourceDatadesc" type="xsd:string" />
          <xsd:element name="sourceFeatureid" type="xsd:string" />
          <xsd:element name="featuredetailurl" type="xsd:string" />
          <xsd:element name="offset" type="xsd:decimal" />
          <xsd:element name="fmeasure" type="xsd:decimal" />
          <xsd:element name="tmeasure" type="xsd:decimal" />
          <xsd:element name="shapeLength" type="xsd:decimal" />
          <xsd:element name="geogstate" type="xsd:string" />
          <xsd:element name="cycleYear" type="xsd:string" />
          <xsd:element name="startDate" type="xsd:dateTime" />
          <xsd:element name="endDate" type="xsd:dateTime" />
          <xsd:element name="shape" type="xsd:string" />
          <xsd:element name="objectid" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfwaters_waters_NhdIndexingLineUser">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="ns1:waters_waters_NhdIndexingLineUser[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_NhdIndexingAreaList">
        <xsd:all>
          <xsd:element name="array" type="ns1:ArrayOfwaters_waters_NhdIndexingAreaUser" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_NhdIndexingAreaUser">
        <xsd:all>
          <xsd:element name="comid" type="xsd:decimal" />
          <xsd:element name="eventdate" type="xsd:dateTime" />
          <xsd:element name="eventType" type="xsd:int" />
          <xsd:element name="reachcode" type="xsd:string" />
          <xsd:element name="reachsmdate" type="xsd:dateTime" />
          <xsd:element name="reachresolution" type="xsd:int" />
          <xsd:element name="featurecomid" type="xsd:int" />
          <xsd:element name="featureclassref" type="xsd:int" />
          <xsd:element name="sourceOriginator" type="xsd:string" />
          <xsd:element name="sourceDatadesc" type="xsd:string" />
          <xsd:element name="sourceFeatureid" type="xsd:string" />
          <xsd:element name="featuredetailurl" type="xsd:string" />
          <xsd:element name="shapeArea" type="xsd:decimal" />
          <xsd:element name="geogstate" type="xsd:string" />
          <xsd:element name="cycleYear" type="xsd:string" />
          <xsd:element name="startDate" type="xsd:dateTime" />
          <xsd:element name="endDate" type="xsd:dateTime" />
          <xsd:element name="shape" type="xsd:string" />
          <xsd:element name="objectid" type="xsd:int" />
          <xsd:element name="clipReference" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfwaters_waters_NhdIndexingAreaUser">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="ns1:waters_waters_NhdIndexingAreaUser[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_NhdIndexingEvt2metaList">
        <xsd:all>
          <xsd:element name="array" type="ns1:ArrayOfwaters_waters_NhdIndexingEvt2metaUser" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_NhdIndexingEvt2metaUser">
        <xsd:all>
          <xsd:element name="comid" type="xsd:decimal" />
          <xsd:element name="duuid" type="xsd:decimal" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfwaters_waters_NhdIndexingEvt2metaUser">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="ns1:waters_waters_NhdIndexingEvt2metaUser[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_NhdIndexingMetadataList">
        <xsd:all>
          <xsd:element name="array" type="ns1:ArrayOfwaters_waters_NhdIndexingMetadataUser" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_NhdIndexingMetadataUser">
        <xsd:all>
          <xsd:element name="duuid" type="xsd:decimal" />
          <xsd:element name="processdescription" type="xsd:string" />
          <xsd:element name="processdate" type="xsd:dateTime" />
          <xsd:element name="attributeaccuracyreport" type="xsd:string" />
          <xsd:element name="logicalconsistencyreport" type="xsd:string" />
          <xsd:element name="completenessreport" type="xsd:string" />
          <xsd:element name="horizpositionalaccuracyreport" type="xsd:string" />
          <xsd:element name="vertpositionalaccuracyreport" type="xsd:string" />
          <xsd:element name="metadatastandardname" type="xsd:string" />
          <xsd:element name="metadatastandardversion" type="xsd:string" />
          <xsd:element name="metadatadate" type="xsd:dateTime" />
          <xsd:element name="datasetcredit" type="xsd:string" />
          <xsd:element name="contactorganization" type="xsd:string" />
          <xsd:element name="addresstype" type="xsd:string" />
          <xsd:element name="address" type="xsd:string" />
          <xsd:element name="city" type="xsd:string" />
          <xsd:element name="stateorprovince" type="xsd:string" />
          <xsd:element name="postalcode" type="xsd:string" />
          <xsd:element name="contactvoicetelephone" type="xsd:string" />
          <xsd:element name="contactinstructions" type="xsd:string" />
          <xsd:element name="contactemailaddress" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfwaters_waters_NhdIndexingMetadataUser">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="ns1:waters_waters_NhdIndexingMetadataUser[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_IdentifyServiceOutputUser">
        <xsd:all>
          <xsd:element name="nhdResults" type="ns1:waters_waters_IdentifyServiceNhdList" />
          <xsd:element name="evtResults" type="ns1:waters_waters_IdentifyServiceEvtList" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_IdentifyServiceNhdList">
        <xsd:all>
          <xsd:element name="array" type="ns1:ArrayOfwaters_waters_IdentifyServiceNhdResultsUser" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_IdentifyServiceNhdResultsUser">
        <xsd:all>
          <xsd:element name="tableFormat" type="xsd:string" />
          <xsd:element name="comid" type="xsd:decimal" />
          <xsd:element name="fdate" type="xsd:dateTime" />
          <xsd:element name="resolution" type="xsd:decimal" />
          <xsd:element name="gnisId" type="xsd:string" />
          <xsd:element name="gnisName" type="xsd:string" />
          <xsd:element name="lengthkm" type="xsd:decimal" />
          <xsd:element name="areasqkm" type="xsd:decimal" />
          <xsd:element name="elevation" type="xsd:decimal" />
          <xsd:element name="reachcode" type="xsd:string" />
          <xsd:element name="flowdir" type="xsd:string" />
          <xsd:element name="wbareacomi" type="xsd:decimal" />
          <xsd:element name="ftype" type="xsd:string" />
          <xsd:element name="fcode" type="xsd:decimal" />
          <xsd:element name="FMeas" type="xsd:decimal" />
          <xsd:element name="TMeas" type="xsd:decimal" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfwaters_waters_IdentifyServiceNhdResultsUser">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="ns1:waters_waters_IdentifyServiceNhdResultsUser[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_IdentifyServiceEvtList">
        <xsd:all>
          <xsd:element name="array" type="ns1:ArrayOfwaters_waters_IdentifyServiceEvtResultsUser" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices" jdev:packageName="waters_waters" name="waters_waters_IdentifyServiceEvtResultsUser">
        <xsd:all>
          <xsd:element name="tableFormat" type="xsd:string" />
          <xsd:element name="comid" type="xsd:decimal" />
          <xsd:element name="eventdate" type="xsd:dateTime" />
          <xsd:element name="eventtype" type="xsd:string" />
          <xsd:element name="reachcode" type="xsd:string" />
          <xsd:element name="reachsmdate" type="xsd:dateTime" />
          <xsd:element name="reachresolution" type="xsd:decimal" />
          <xsd:element name="sourceOriginator" type="xsd:string" />
          <xsd:element name="sourceDatadesc" type="xsd:string" />
          <xsd:element name="sourceFeatureid" type="xsd:string" />
          <xsd:element name="featuredetailurl" type="xsd:string" />
          <xsd:element name="offset" type="xsd:decimal" />
          <xsd:element name="measure" type="xsd:decimal" />
          <xsd:element name="fmeasure" type="xsd:decimal" />
          <xsd:element name="tmeasure" type="xsd:decimal" />
          <xsd:element name="shapeLength" type="xsd:decimal" />
          <xsd:element name="shapeArea" type="xsd:decimal" />
          <xsd:element name="geogstate" type="xsd:string" />
          <xsd:element name="cycleYear" type="xsd:string" />
          <xsd:element name="startDate" type="xsd:dateTime" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ArrayOfwaters_waters_IdentifyServiceEvtResultsUser">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="ns1:waters_waters_IdentifyServiceEvtResultsUser[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="upstreamDownstreamService0Request">
    <part name="pNavigationType" type="xsd:string" />
    <part name="pStartComid" type="xsd:decimal" />
    <part name="pStartReachcode" type="xsd:string" />
    <part name="pStartMeasure" type="xsd:decimal" />
    <part name="pStartSourceFeatureid" type="xsd:string" />
    <part name="pStartSourceProgram" type="xsd:string" />
    <part name="pStopComid" type="xsd:decimal" />
    <part name="pStopReachcode" type="xsd:string" />
    <part name="pStopMeasure" type="xsd:decimal" />
    <part name="pStopSourceFeatureid" type="xsd:string" />
    <part name="pStopSourceProgram" type="xsd:string" />
    <part name="pStopDistancekm" type="xsd:decimal" />
    <part name="pStopTimeOfTravel" type="xsd:decimal" />
    <part name="pStopBottomOfPath" type="xsd:string" />
    <part name="pTraversalSummary" type="xsd:string" />
    <part name="pFlowlinelist" type="xsd:string" />
    <part name="pEventList" type="ns1:waters_waters_OwStringVry" />
    <part name="pNearestEntityList" type="ns1:waters_waters_OwStringVry" />
  </message>
  <message name="upstreamDownstreamService0Response">
    <part name="return" type="ns1:waters_waters_UpdnObjoutputUser" />
  </message>
  <message name="navigationServiceSimple1Request">
    <part name="pNavigationType" type="xsd:string" />
    <part name="pStartComid" type="xsd:string" />
    <part name="pStartReachcode" type="xsd:string" />
    <part name="pStartMeasure" type="xsd:string" />
    <part name="pStopComid" type="xsd:string" />
    <part name="pStopReachcode" type="xsd:string" />
    <part name="pStopMeasure" type="xsd:string" />
    <part name="pMaxDistance" type="xsd:string" />
    <part name="pMaxTime" type="xsd:string" />
  </message>
  <message name="navigationServiceSimple1Response">
    <part name="return" type="ns1:waters_waters_UpdnObjnavigationoutputUser" />
  </message>
  <message name="nameServiceSimple2Request">
    <part name="pFulltext" type="xsd:string" />
    <part name="pFulltextRegex" type="xsd:string" />
    <part name="pBasename" type="xsd:string" />
    <part name="pBasenameRegex" type="xsd:string" />
    <part name="pHydrography" type="xsd:string" />
    <part name="pHydrographyRegex" type="xsd:string" />
    <part name="pDirectional" type="xsd:string" />
    <part name="pDirectionalRegex" type="xsd:string" />
    <part name="pOperator" type="xsd:string" />
    <part name="pQueryType" type="xsd:string" />
    <part name="pQueryLimit" type="xsd:string" />
    <part name="pJwthreshold" type="xsd:string" />
    <part name="pResolution" type="xsd:string" />
    <part name="pSourceTable" type="xsd:string" />
    <part name="pState" type="xsd:string" />
    <part name="pCountyFips5" type="xsd:string" />
    <part name="pSubbasin" type="xsd:string" />
    <part name="pGnisClass" type="xsd:string" />
    <part name="pFtype" type="xsd:string" />
    <part name="pBreakBySubbasin" type="xsd:string" />
    <part name="pBreakByFcode" type="xsd:string" />
  </message>
  <message name="nameServiceSimple2Response">
    <part name="return" type="ns1:waters_waters_NamesrvOutputUser" />
  </message>
  <message name="totalWatersServiceShfSimpl3Request">
    <part name="pPrograms" type="xsd:string" />
    <part name="pStates" type="xsd:string" />
    <part name="pHucs" type="xsd:string" />
    <part name="pBorderPolicy" type="xsd:string" />
    <part name="pGroupingName" type="xsd:string" />
    <part name="pNhdCustom" type="xsd:string" />
    <part name="pStGrouping" type="xsd:string" />
    <part name="pHucGrouping" type="xsd:string" />
  </message>
  <message name="totalWatersServiceShfSimpl3Response">
    <part name="return" type="ns1:waters_waters_TotalWatersServiceOutputUser" />
  </message>
  <message name="totalWatersServiceShf4Request">
    <part name="pPrograms" type="ns1:waters_waters_OwStringVry" />
    <part name="pStates" type="ns1:waters_waters_OwStringVry" />
    <part name="pHucs" type="ns1:waters_waters_OwStringVry" />
    <part name="pBorderPolicy" type="xsd:string" />
    <part name="pGroupingName" type="xsd:string" />
    <part name="pNhdCustom" type="xsd:string" />
    <part name="pStGrouping" type="xsd:string" />
    <part name="pHucGrouping" type="xsd:string" />
  </message>
  <message name="totalWatersServiceShf4Response">
    <part name="return" type="ns1:waters_waters_TotalWatersServiceOutputUser" />
  </message>
  <message name="pointIndexingService5Request">
    <part name="pInputGeometry" type="xsd:string" />
    <part name="pInputGeometrySrid" type="xsd:decimal" />
    <part name="pReachresolution" type="xsd:decimal" />
    <part name="pPointIndexingMethod" type="xsd:string" />
    <part name="pPointIndexingFcodeAllow" type="ns1:waters_waters_OwNumberVry" />
    <part name="pPointIndexingFcodeDeny" type="ns1:waters_waters_OwNumberVry" />
    <part name="pPointIndexingMaxDist" type="xsd:decimal" />
    <part name="pPointIndexingRaindropDist" type="xsd:decimal" />
    <part name="pOutputPathFlag" type="xsd:string" />
    <part name="pTolerance" type="xsd:decimal" />
  </message>
  <message name="pointIndexingService5Response">
    <part name="return" type="ns1:waters_waters_NhdPointIndexingOutputUser" />
  </message>
  <message name="navigationService6Request">
    <part name="pNavigationType" type="xsd:string" />
    <part name="pStartComid" type="xsd:decimal" />
    <part name="pStartReachcode" type="xsd:string" />
    <part name="pStartMeasure" type="xsd:decimal" />
    <part name="pStopComid" type="xsd:decimal" />
    <part name="pStopReachcode" type="xsd:string" />
    <part name="pStopMeasure" type="xsd:decimal" />
    <part name="pMaxDistance" type="xsd:decimal" />
    <part name="pMaxTime" type="xsd:decimal" />
  </message>
  <message name="navigationService6Response">
    <part name="return" type="ns1:waters_waters_UpdnObjnavigationoutputUser" />
  </message>
  <message name="upstreamdownstream7Request">
    <part name="pInput" type="ns1:waters_waters_UpdnObjinputUser" />
  </message>
  <message name="upstreamdownstream7Response">
    <part name="return" type="ns1:waters_waters_UpdnObjoutputUser" />
  </message>
  <message name="nameService8Request">
    <part name="pFulltext" type="xsd:string" />
    <part name="pFulltextRegex" type="xsd:string" />
    <part name="pBasename" type="xsd:string" />
    <part name="pBasenameRegex" type="xsd:string" />
    <part name="pHydrography" type="xsd:string" />
    <part name="pHydrographyRegex" type="xsd:string" />
    <part name="pDirectional" type="xsd:string" />
    <part name="pDirectionalRegex" type="xsd:string" />
    <part name="pOperator" type="xsd:string" />
    <part name="pQueryType" type="xsd:string" />
    <part name="pQueryLimit" type="xsd:decimal" />
    <part name="pJwthreshold" type="xsd:decimal" />
    <part name="pResolution" type="xsd:decimal" />
    <part name="pSourceTable" type="ns1:waters_waters_OwStringVry" />
    <part name="pState" type="ns1:waters_waters_OwStringVry" />
    <part name="pCountyFips5" type="ns1:waters_waters_OwStringVry" />
    <part name="pSubbasin" type="ns1:waters_waters_OwStringVry" />
    <part name="pGnisClass" type="ns1:waters_waters_OwStringVry" />
    <part name="pFtype" type="ns1:waters_waters_OwStringVry" />
    <part name="pBreakBySubbasin" type="xsd:string" />
    <part name="pBreakByFcode" type="xsd:string" />
  </message>
  <message name="nameService8Response">
    <part name="return" type="ns1:waters_waters_NamesrvOutputUser" />
  </message>
  <message name="eventIndexingService9Request">
    <part name="pBatchId" type="xsd:decimal" />
    <part name="pBatchName" type="xsd:string" />
    <part name="pBatchDate" type="xsd:dateTime" />
    <part name="pBatchProgram" type="xsd:int" />
    <part name="pBatchComments" type="xsd:string" />
    <part name="pBatchSmdate" type="xsd:dateTime" />
    <part name="pBatchResolution" type="xsd:decimal" />
    <part name="pSourceOriginator" type="xsd:string" />
    <part name="pSourceDatadesc" type="xsd:string" />
    <part name="pSourceFeatureid" type="xsd:string" />
    <part name="pFeaturedetailurl" type="xsd:string" />
    <part name="pComidBase" type="xsd:decimal" />
    <part name="pCycleYear" type="xsd:string" />
    <part name="pStartDate" type="xsd:dateTime" />
    <part name="pEndDate" type="xsd:dateTime" />
    <part name="pIndexingType" type="xsd:string" />
    <part name="pInputGeometry" type="xsd:string" />
    <part name="pInputGeometrySrid" type="xsd:decimal" />
    <part name="pReachSelectionLower" type="xsd:decimal" />
    <part name="pReachSelectionUpper" type="xsd:decimal" />
    <part name="pFeatureSelection" type="xsd:string" />
    <part name="pFeatureType" type="xsd:string" />
    <part name="pFcodeAllow" type="ns1:waters_waters_OwNumberVry" />
    <part name="pFcodeDeny" type="ns1:waters_waters_OwNumberVry" />
    <part name="pFlowDistance" type="xsd:decimal" />
    <part name="pFlowTime" type="xsd:decimal" />
    <part name="pTraverseDistance" type="xsd:decimal" />
    <part name="pTraverseTolerance" type="xsd:decimal" />
    <part name="pTraverseFcodeAllow" type="ns1:waters_waters_OwNumberVry" />
    <part name="pTraverseFcodeDeny" type="ns1:waters_waters_OwNumberVry" />
    <part name="pTolerance" type="xsd:decimal" />
  </message>
  <message name="eventIndexingService9Response">
    <part name="return" type="ns1:waters_waters_NhdIndexingOutputUser" />
  </message>
  <message name="totalWatersServiceBbSimple10Request">
    <part name="pPrograms" type="xsd:string" />
    <part name="pLong1" type="xsd:string" />
    <part name="pLat1" type="xsd:string" />
    <part name="pLong2" type="xsd:string" />
    <part name="pLat2" type="xsd:string" />
    <part name="pBorderPolicy" type="xsd:string" />
    <part name="pGroupingName" type="xsd:string" />
    <part name="pNhdCustom" type="xsd:string" />
    <part name="pStGrouping" type="xsd:string" />
    <part name="pHucGrouping" type="xsd:string" />
  </message>
  <message name="totalWatersServiceBbSimple10Response">
    <part name="return" type="ns1:waters_waters_TotalWatersServiceOutputUser" />
  </message>
  <message name="eventIndexingServiceSimple11Request">
    <part name="pBatchId" type="xsd:string" />
    <part name="pBatchName" type="xsd:string" />
    <part name="pBatchDate" type="xsd:string" />
    <part name="pBatchProgram" type="xsd:string" />
    <part name="pBatchComments" type="xsd:string" />
    <part name="pBatchSmdate" type="xsd:string" />
    <part name="pBatchResolution" type="xsd:string" />
    <part name="pSourceOriginator" type="xsd:string" />
    <part name="pSourceDatadesc" type="xsd:string" />
    <part name="pSourceFeatureid" type="xsd:string" />
    <part name="pFeaturedetailurl" type="xsd:string" />
    <part name="pComidBase" type="xsd:string" />
    <part name="pCycleYear" type="xsd:string" />
    <part name="pStartDate" type="xsd:string" />
    <part name="pEndDate" type="xsd:string" />
    <part name="pIndexingType" type="xsd:string" />
    <part name="pInputGeometry" type="xsd:string" />
    <part name="pInputGeometrySrid" type="xsd:string" />
    <part name="pReachSelectionLower" type="xsd:string" />
    <part name="pReachSelectionUpper" type="xsd:string" />
    <part name="pFeatureSelection" type="xsd:string" />
    <part name="pFeatureType" type="xsd:string" />
    <part name="pFcodeAllow" type="xsd:string" />
    <part name="pFcodeDeny" type="xsd:string" />
    <part name="pFlowDistance" type="xsd:string" />
    <part name="pFlowTime" type="xsd:string" />
    <part name="pTraverseDistance" type="xsd:string" />
    <part name="pTraverseTolerance" type="xsd:string" />
    <part name="pTraverseFcodeAllow" type="xsd:string" />
    <part name="pTraverseFcodeDeny" type="xsd:string" />
    <part name="pTolerance" type="xsd:string" />
  </message>
  <message name="eventIndexingServiceSimple11Response">
    <part name="return" type="ns1:waters_waters_NhdIndexingOutputUser" />
  </message>
  <message name="pointIndexingServiceSimple12Request">
    <part name="pInputGeometry" type="xsd:string" />
    <part name="pInputGeometrySrid" type="xsd:string" />
    <part name="pReachresolution" type="xsd:string" />
    <part name="pPointIndexingMethod" type="xsd:string" />
    <part name="pPointIndexingFcodeAllow" type="xsd:string" />
    <part name="pPointIndexingFcodeDeny" type="xsd:string" />
    <part name="pPointIndexingMaxDist" type="xsd:string" />
    <part name="pPointIndexingRaindropDist" type="xsd:string" />
    <part name="pOutputPathFlag" type="xsd:string" />
    <part name="pTolerance" type="xsd:string" />
  </message>
  <message name="pointIndexingServiceSimple12Response">
    <part name="return" type="ns1:waters_waters_NhdPointIndexingOutputUser" />
  </message>
  <message name="totalWatersServiceBb13Request">
    <part name="pPrograms" type="ns1:waters_waters_OwStringVry" />
    <part name="pLong1" type="xsd:decimal" />
    <part name="pLat1" type="xsd:decimal" />
    <part name="pLong2" type="xsd:decimal" />
    <part name="pLat2" type="xsd:decimal" />
    <part name="pBorderPolicy" type="xsd:string" />
    <part name="pGroupingName" type="xsd:string" />
    <part name="pNhdCustom" type="xsd:string" />
    <part name="pStGrouping" type="xsd:string" />
    <part name="pHucGrouping" type="xsd:string" />
  </message>
  <message name="totalWatersServiceBb13Response">
    <part name="return" type="ns1:waters_waters_TotalWatersServiceOutputUser" />
  </message>
  <message name="upstreamDownstreamSrvSimple14Request">
    <part name="pNavigationType" type="xsd:string" />
    <part name="pStartComid" type="xsd:string" />
    <part name="pStartReachcode" type="xsd:string" />
    <part name="pStartMeasure" type="xsd:string" />
    <part name="pStartSourceFeatureid" type="xsd:string" />
    <part name="pStartSourceProgram" type="xsd:string" />
    <part name="pStopComid" type="xsd:string" />
    <part name="pStopReachcode" type="xsd:string" />
    <part name="pStopMeasure" type="xsd:string" />
    <part name="pStopSourceFeatureid" type="xsd:string" />
    <part name="pStopSourceProgram" type="xsd:string" />
    <part name="pStopDistancekm" type="xsd:string" />
    <part name="pStopTimeOfTravel" type="xsd:string" />
    <part name="pStopBottomOfPath" type="xsd:string" />
    <part name="pTraversalSummary" type="xsd:string" />
    <part name="pFlowlinelist" type="xsd:string" />
    <part name="pEventList" type="xsd:string" />
    <part name="pNearestEntityList" type="xsd:string" />
  </message>
  <message name="upstreamDownstreamSrvSimple14Response">
    <part name="return" type="ns1:waters_waters_UpdnObjoutputUser" />
  </message>
  <message name="totalWatersGeomService15Request">
    <part name="pPrograms" type="ns1:waters_waters_OwStringVry" />
    <part name="pInputGeometry" type="xsd:string" />
    <part name="pInputGeometrySrid" type="xsd:decimal" />
    <part name="pBorderPolicy" type="xsd:string" />
    <part name="pGroupingName" type="xsd:string" />
    <part name="pNhdCustom" type="xsd:string" />
    <part name="pStGrouping" type="xsd:string" />
    <part name="pHucGrouping" type="xsd:string" />
  </message>
  <message name="totalWatersGeomService15Response">
    <part name="return" type="ns1:waters_waters_TotalWatersServiceOutputUser" />
  </message>
  <message name="identifyServiceSimple16Request">
    <part name="pReachType" type="xsd:string" />
    <part name="pReachcode" type="xsd:string" />
    <part name="pReachMeasure" type="xsd:string" />
    <part name="pPrograms" type="xsd:string" />
  </message>
  <message name="identifyServiceSimple16Response">
    <part name="return" type="ns1:waters_waters_IdentifyServiceOutputUser" />
  </message>
  <message name="identifyService17Request">
    <part name="pReachType" type="xsd:string" />
    <part name="pReachcode" type="xsd:string" />
    <part name="pReachMeasure" type="xsd:decimal" />
    <part name="pPrograms" type="ns1:waters_waters_OwStringVry" />
  </message>
  <message name="identifyService17Response">
    <part name="return" type="ns1:waters_waters_IdentifyServiceOutputUser" />
  </message>
  <portType name="OWServicesPortType">
    <operation name="upstreamDownstreamService">
      <input name="upstreamDownstreamService0Request" message="tns:upstreamDownstreamService0Request" />
      <output name="upstreamDownstreamService0Response" message="tns:upstreamDownstreamService0Response" />
    </operation>
    <operation name="navigationServiceSimple">
      <input name="navigationServiceSimple1Request" message="tns:navigationServiceSimple1Request" />
      <output name="navigationServiceSimple1Response" message="tns:navigationServiceSimple1Response" />
    </operation>
    <operation name="nameServiceSimple">
      <input name="nameServiceSimple2Request" message="tns:nameServiceSimple2Request" />
      <output name="nameServiceSimple2Response" message="tns:nameServiceSimple2Response" />
    </operation>
    <operation name="totalWatersServiceShfSimpl">
      <input name="totalWatersServiceShfSimpl3Request" message="tns:totalWatersServiceShfSimpl3Request" />
      <output name="totalWatersServiceShfSimpl3Response" message="tns:totalWatersServiceShfSimpl3Response" />
    </operation>
    <operation name="totalWatersServiceShf">
      <input name="totalWatersServiceShf4Request" message="tns:totalWatersServiceShf4Request" />
      <output name="totalWatersServiceShf4Response" message="tns:totalWatersServiceShf4Response" />
    </operation>
    <operation name="pointIndexingService">
      <input name="pointIndexingService5Request" message="tns:pointIndexingService5Request" />
      <output name="pointIndexingService5Response" message="tns:pointIndexingService5Response" />
    </operation>
    <operation name="navigationService">
      <input name="navigationService6Request" message="tns:navigationService6Request" />
      <output name="navigationService6Response" message="tns:navigationService6Response" />
    </operation>
    <operation name="upstreamdownstream">
      <input name="upstreamdownstream7Request" message="tns:upstreamdownstream7Request" />
      <output name="upstreamdownstream7Response" message="tns:upstreamdownstream7Response" />
    </operation>
    <operation name="nameService">
      <input name="nameService8Request" message="tns:nameService8Request" />
      <output name="nameService8Response" message="tns:nameService8Response" />
    </operation>
    <operation name="eventIndexingService">
      <input name="eventIndexingService9Request" message="tns:eventIndexingService9Request" />
      <output name="eventIndexingService9Response" message="tns:eventIndexingService9Response" />
    </operation>
    <operation name="totalWatersServiceBbSimple">
      <input name="totalWatersServiceBbSimple10Request" message="tns:totalWatersServiceBbSimple10Request" />
      <output name="totalWatersServiceBbSimple10Response" message="tns:totalWatersServiceBbSimple10Response" />
    </operation>
    <operation name="eventIndexingServiceSimple">
      <input name="eventIndexingServiceSimple11Request" message="tns:eventIndexingServiceSimple11Request" />
      <output name="eventIndexingServiceSimple11Response" message="tns:eventIndexingServiceSimple11Response" />
    </operation>
    <operation name="pointIndexingServiceSimple">
      <input name="pointIndexingServiceSimple12Request" message="tns:pointIndexingServiceSimple12Request" />
      <output name="pointIndexingServiceSimple12Response" message="tns:pointIndexingServiceSimple12Response" />
    </operation>
    <operation name="totalWatersServiceBb">
      <input name="totalWatersServiceBb13Request" message="tns:totalWatersServiceBb13Request" />
      <output name="totalWatersServiceBb13Response" message="tns:totalWatersServiceBb13Response" />
    </operation>
    <operation name="upstreamDownstreamSrvSimple">
      <input name="upstreamDownstreamSrvSimple14Request" message="tns:upstreamDownstreamSrvSimple14Request" />
      <output name="upstreamDownstreamSrvSimple14Response" message="tns:upstreamDownstreamSrvSimple14Response" />
    </operation>
    <operation name="totalWatersGeomService">
      <input name="totalWatersGeomService15Request" message="tns:totalWatersGeomService15Request" />
      <output name="totalWatersGeomService15Response" message="tns:totalWatersGeomService15Response" />
    </operation>
    <operation name="identifyServiceSimple">
      <input name="identifyServiceSimple16Request" message="tns:identifyServiceSimple16Request" />
      <output name="identifyServiceSimple16Response" message="tns:identifyServiceSimple16Response" />
    </operation>
    <operation name="identifyService">
      <input name="identifyService17Request" message="tns:identifyService17Request" />
      <output name="identifyService17Response" message="tns:identifyService17Response" />
    </operation>
  </portType>
  <binding name="OWServicesBinding" type="tns:OWServicesPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="upstreamDownstreamService">
      <soap:operation soapAction="" style="rpc" />
      <input name="upstreamDownstreamService0Request">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="upstreamDownstreamService0Response">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="navigationServiceSimple">
      <soap:operation soapAction="" style="rpc" />
      <input name="navigationServiceSimple1Request">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="navigationServiceSimple1Response">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="nameServiceSimple">
      <soap:operation soapAction="" style="rpc" />
      <input name="nameServiceSimple2Request">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="nameServiceSimple2Response">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="totalWatersServiceShfSimpl">
      <soap:operation soapAction="" style="rpc" />
      <input name="totalWatersServiceShfSimpl3Request">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="totalWatersServiceShfSimpl3Response">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="totalWatersServiceShf">
      <soap:operation soapAction="" style="rpc" />
      <input name="totalWatersServiceShf4Request">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="totalWatersServiceShf4Response">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="pointIndexingService">
      <soap:operation soapAction="" style="rpc" />
      <input name="pointIndexingService5Request">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="pointIndexingService5Response">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="navigationService">
      <soap:operation soapAction="" style="rpc" />
      <input name="navigationService6Request">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="navigationService6Response">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="upstreamdownstream">
      <soap:operation soapAction="" style="rpc" />
      <input name="upstreamdownstream7Request">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="upstreamdownstream7Response">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="nameService">
      <soap:operation soapAction="" style="rpc" />
      <input name="nameService8Request">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="nameService8Response">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="eventIndexingService">
      <soap:operation soapAction="" style="rpc" />
      <input name="eventIndexingService9Request">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="eventIndexingService9Response">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="totalWatersServiceBbSimple">
      <soap:operation soapAction="" style="rpc" />
      <input name="totalWatersServiceBbSimple10Request">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="totalWatersServiceBbSimple10Response">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="eventIndexingServiceSimple">
      <soap:operation soapAction="" style="rpc" />
      <input name="eventIndexingServiceSimple11Request">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="eventIndexingServiceSimple11Response">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="pointIndexingServiceSimple">
      <soap:operation soapAction="" style="rpc" />
      <input name="pointIndexingServiceSimple12Request">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="pointIndexingServiceSimple12Response">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="totalWatersServiceBb">
      <soap:operation soapAction="" style="rpc" />
      <input name="totalWatersServiceBb13Request">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="totalWatersServiceBb13Response">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="upstreamDownstreamSrvSimple">
      <soap:operation soapAction="" style="rpc" />
      <input name="upstreamDownstreamSrvSimple14Request">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="upstreamDownstreamSrvSimple14Response">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="totalWatersGeomService">
      <soap:operation soapAction="" style="rpc" />
      <input name="totalWatersGeomService15Request">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="totalWatersGeomService15Response">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="identifyServiceSimple">
      <soap:operation soapAction="" style="rpc" />
      <input name="identifyServiceSimple16Request">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="identifyServiceSimple16Response">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="identifyService">
      <soap:operation soapAction="" style="rpc" />
      <input name="identifyService17Request">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="identifyService17Response">
        <soap:body use="encoded" namespace="OWServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="OWServices">
    <port name="OWServicesPort" binding="tns:OWServicesBinding">
      <soap:address location="http://iaspub.epa.gov/WATERSWebServices/OWServices" />
    </port>
  </service>
</definitions>