Source/HydroDesktop.WebServices/WaterML/Schema/1_0/cuahsiTimeSeries_v1_0.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.15.0 (http://www.liquid-technologies.com)-->
<xsi:schema xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:gml="http://www.opengis.net/gml" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" xmlns="http://www.cuahsi.org/waterML/1.0/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.cuahsi.org/waterML/1.0/" version="1.01" xmlns:xsi="http://www.w3.org/2001/XMLSchema">
  <xsi:annotation>
    <xsi:documentation> 
Changes: 
2006-07-10 valentine 
            removed choice. Replaced with Types
            defined TimePeriodType
                TimeIntervalType
                TimeSingleType
            added GeogLocationType to hold the geometry
                redefined LatLongPoint as a type
                defined LatLongBox to hold
                 defined simpleTypes Latitude and Longitude
            added DataSetLocation Element (type GeogLocationType) to dataset info
            removed xlink namespace. Just used the xlink concept (problems getting it to compile with xlink schema)
2006-08-30 valentine
    MANY CHANGES to:
         sync with the Observations Database terminolog
         simplify. Removed many unneeded types. (initial version was Type happy)
         types mostly used only when needed (Geometry, SourceInfo, TimeSeries, Notes, Enumerations).
       *** Element Case Standardize  ****
           All types are PascalCase
           All CUAHSI elements and attributes are camelCase
       * All root response elements are now elements, and not types
          ** SitesResponse
          ** TimeSeriesResponse (not timeSeriesType)
          ** VariablesResponse
       * extension elements added.
           ** These are extension points for groups like
              the USGS that wish to include more information than the normal community uses.
       * enumerations added
          * unitType
          * censorCode  (characters used because symbols make for unmaintainable source code)
             * lt  - less than
             * gt  - greater than
             * nc  - no code
       * variable types consolidated
       * units element added
       * consistent siteID/variableID pattern (both include a XXXCode)
       * Remove many types
          ** too many to list.
       * values == TsValuesType renamed from TsValuesSingleVariableType
          ** split values element out to type  ValueSingleVar (c# change tsValuesTypeValueType to ValueSingleVar).
          ** qualifier elements can be added after the final value element in the Values element.
          *** we don't know the full list of included qualifiers until we get done with the values.
          *** at present, qualifiers attribute in the value element is an aggregated field.
          element block looks like:
          = values
          == value qualifers=&amp;quot;A&amp;quot;
          == value qualifers=&amp;quot;Ae&amp;quot;
          == qualifier qualifierCode=&amp;quot;A&amp;quot;      &amp;quot;Approved&amp;quot;
          == qualifier qualifierCode=&amp;quot;e&amp;quot;      &amp;quot;Estimated. This value has been estimated.&amp;quot;
2006-09-08
   variableID renamed variableCode
   siteID renamed siteCode
      siteID and variableID attributes added, xxCode removed
   siteCode name moved into siteInfo

2006-09-15
   variable/name to variable/variableName
   variablePeriod to variablePeriodOfObservation

2006-09-17
   added QualityControlLevelEnum
   added attribute qualityControlLevel to valueAttribute group. (affects ValueSingleVariable)
   added qualityControlLevel element, and element to the TSValuesSingleVariableType
   namespace changed to http://www.cuahsi.org/waterML/1.0/
   return to types for top level elements, without this they get named getValuesResponse
   added note to siteInfoElement. We need to put the URL or Retireved from DB not in this block.
   added TimePeriodRealTime. Need to represent real time data.
2006-0920
   variablePeriodofRecorr to seriesCatalog
   variablePeriodOfObservation to series
   variableObservationCount to valueCount (to match the OD)
   added enumerations from the OD
      valueTypeEnum
      generalCategoryEnum
      sampleMediumEnum
      dataTypeEnum
2006-09-24
   queryInfo/criteria/timeParam is now a sequence, since a start or end time can be null
   The community wants it to be easy, and VB and other .net have problems with some values:
      converted xsd:decimal to xsd:double. decimal is not well handled by VB
      converted tsValuesSingleVaribaleType/count from xsd:nonNegativeInteger to xsd:int.
2006-09-28
   API signature has been changed to strings.
   queryInfo/timeInterval/... changed to strings
2007-07-09
   ODM seriesCatalog table added columns. Columns now added
   DataValue element was missing: DataType(eg statistic), Method, Source, and QualityControlLevel.
2007-08-28
  added to values method[](methodType), source[](SourceType)
  added &amp;quot;Unknown&amp;quot; to many enumerations.
  contactInformation in sourceType changed to unbounded
2007-08-29
  DT/DM believes that including an offsetDescription on every element is verbose
  offsetTypeID attribute added to offsetAttr
  offsetType Type added, Designed to be a bit more extensible, and handle
2007-08-30
  restored attributes that had the offset information on the values
  offsetAttr restored attr
    offsetUnitsAbbreviation
    offsetUnitsCode
    offsetDescription
2007-11-14
   Many services use agency (aka EPA, and USGS)
     added attributes agencyCode and AgencyName to siteCode.
 2007-11-29
    SiteInfo/TimezoneInfo min occurs 0 max 1
    Series/QualityControlLevel min occurs 0 max 1
   
</xsi:documentation>
  </xsi:annotation>
  <xsi:complexType name="SiteInfoType">
    <xsi:annotation>
      <xsi:documentation>A sampling station is any place where data are collected.

SiteInfoType is the Element that for the core information about a point sampling location. The core information includes SiteName, SiteCode(s), location, elevation, timeZone information and note(s).

SiteInfoType is &lt;siteInfo&gt; in a &lt;site&gt; of a   &lt;sitesResponse&gt;.  It is derived from SourceType so that other geographic location descriptions can be utilized in the &lt;sourceInfo&gt; of  the &lt;timeSeriesResponse&gt;
</xsi:documentation>
    </xsi:annotation>
    <xsi:complexContent mixed="false">
      <xsi:extension base="SourceInfoType">
        <xsi:sequence>
          <xsi:element name="siteName" type="xsi:string">
            <xsi:annotation>
              <xsi:documentation>Full name of the sampling site. eg “LOGAN RIVER ABOVE STATE DAM, NEAR LOGAN,UT”</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
          <xsi:element maxOccurs="unbounded" name="siteCode">
            <xsi:annotation>
              <xsi:documentation>A &amp;lt;siteCode&amp;gt; is an identifier that this site is referred to as. This Code used by organization that collects the data to identify the site.

A siteCode has a reference to it's source or network as the @network. For waterWebServices, a site/location is the network plus the value of the sitecode, eg '@network:siteCode'
					siteCode identifiers often change, so multiple siteCode elements are allowed There may be multiple siteCode elements. Only one should be labeled as the default using @defaultID (set attribute defaultID=true)
					
Multiple siteCode elements can utilize different observation networks may refer to the same site with different identifiers.</xsi:documentation>
            </xsi:annotation>
            <xsi:complexType>
              <xsi:simpleContent>
                <xsi:extension base="xsi:string">
                  <xsi:attribute name="defaultId" type="xsi:boolean">
                    <xsi:annotation>
                      <xsi:documentation>
								True if this is the main identifier that this service uses to access this site.
				default value is false.
							</xsi:documentation>
                    </xsi:annotation>
                  </xsi:attribute>
                  <xsi:attribute name="network" type="xsi:normalizedString" use="required">
                    <xsi:annotation>
                      <xsi:documentation>The abbreviation for the datasource or observation network that this site code is associated with.

A siteCode has a reference to it's source or network as the @network. For waterWebServices, a site/location is the network plus the value of the sitecode, eg '@network:siteCode'</xsi:documentation>
                    </xsi:annotation>
                  </xsi:attribute>
                  <xsi:attribute name="siteID" type="xsi:normalizedString">
                    <xsi:annotation>
                      <xsi:documentation>An internal numeric identifier of the site.
							</xsi:documentation>
                    </xsi:annotation>
                  </xsi:attribute>
                  <xsi:attribute name="agencyCode" type="xsi:normalizedString">
                    <xsi:annotation>
                      <xsi:documentation>Code used to differentiate sites in a datasource. Agency codes are specific to a data source, and are not required nor do they need to be understood by a web service client.</xsi:documentation>
                    </xsi:annotation>
                  </xsi:attribute>
                  <xsi:attribute name="agencyName" type="xsi:normalizedString">
                    <xsi:annotation>
                      <xsi:documentation>optional name to provide more detail about an agency code</xsi:documentation>
                    </xsi:annotation>
                  </xsi:attribute>
                </xsi:extension>
              </xsi:simpleContent>
            </xsi:complexType>
          </xsi:element>
          <xsi:element minOccurs="0" ref="timeZoneInfo">
            <xsi:annotation>
              <xsi:documentation>Specifies the time zone information about a site. 

The default time zone for this site (+00:00) and if this site shifts to daylight savings time (attribute: usesDaylightSavingsTime)</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
          <xsi:element minOccurs="0" maxOccurs="1" name="geoLocation">
            <xsi:annotation>
              <xsi:documentation>The geoLocation speficies the details of the geographic location. It contains two portions, a geographic locaiton &amp;amp;lt;geogLocation&amp;amp;gt;, and a local location &amp;amp;lt;localSiteXY&amp;amp;gt;.

In order to be discovered spatially, geogLocation is required. The geogLocation can be of GeogLocationType, which at present is either a latLonPoint or a latLongBox.

There may be multiple localSiteXY, which might be used by data sources to provide other coordinated system information, like UTM and State Plane coordinates.</xsi:documentation>
            </xsi:annotation>
            <xsi:complexType>
              <xsi:sequence>
                <xsi:element name="geogLocation" type="GeogLocationType">
                  <xsi:annotation>
                    <xsi:documentation>Geographic location:
A geographic location is required as part of the site information (siteInfoType or siteInfo element)

At present this can be elements of GeogLocationType: LatLonPointType and LatLonBoxType. an xml schema type attribute can be used to determine which type is contained in this element (xsi:type="LatLonPointType" or xsi:type="LatLonBoxType")</xsi:documentation>
                  </xsi:annotation>
                </xsi:element>
                <xsi:element minOccurs="0" maxOccurs="unbounded" name="localSiteXY">
                  <xsi:annotation>
                    <xsi:documentation>Site information can contain one or more other locations using the localSiteXY element. The projection string  should be stored in projectionInformation.

Lat or Northing = Y
Lon or Easting = X



</xsi:documentation>
                  </xsi:annotation>
                  <xsi:complexType>
                    <xsi:sequence>
                      <xsi:element name="X" type="xsi:double" />
                      <xsi:element name="Y" type="xsi:double" />
                      <xsi:element minOccurs="0" maxOccurs="1" name="Z" type="xsi:double" />
                      <xsi:element minOccurs="0" maxOccurs="unbounded" name="note" type="NoteType">
                        <xsi:annotation>
                          <xsi:documentation>Additional information should be encoded in zero or more note elmements.
The name of the property should be @title, and the value should be inside the note value. Attribute @type is provided so that notes can be grouped.</xsi:documentation>
                        </xsi:annotation>
                      </xsi:element>
                    </xsi:sequence>
                    <xsi:attribute name="projectionInformation" type="xsi:string">
                      <xsi:annotation>
                        <xsi:documentation>Spatial Reference System of the local coordinates.
This should use the PROJ4 projection string standard</xsi:documentation>
                      </xsi:annotation>
                    </xsi:attribute>
                  </xsi:complexType>
                </xsi:element>
              </xsi:sequence>
            </xsi:complexType>
          </xsi:element>
          <xsi:element minOccurs="0" maxOccurs="1" name="elevation_m" type="xsi:double">
            <xsi:annotation>
              <xsi:documentation>Elevation in meters. 
A vertical datum should also be provided.</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
          <xsi:element minOccurs="0" maxOccurs="1" name="verticalDatum" type="xsi:string" />
          <xsi:element minOccurs="0" maxOccurs="unbounded" name="note" type="NoteType">
            <xsi:annotation>
              <xsi:documentation>Additional information, like state, county, or other properties like HUC codes should be encoded in zero or more &amp;lt;note&amp;gt; elmements.
The name of the property should be @title, and the value should be inside the &lt;note&gt;value&lt;/note&gt;. Attribute @type is provided so that notes can be grouped.</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
          <xsi:element ref="extension">
            <xsi:annotation>
              <xsi:documentation>In order to simplify comprehension, data sources are encouraged to put additional informaiton in the extension area, using thier own namespace. Clients need not understand information in &lt;extension?</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
          <xsi:element name="altname" type="xsi:string">
            <xsi:annotation>
              <xsi:documentation>Alternate name</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
        </xsi:sequence>
        <xsi:attributeGroup ref="DbIdentifiers" />
      </xsi:extension>
    </xsi:complexContent>
  </xsi:complexType>
  <xsi:complexType name="TsValuesSingleVariableType">
    <xsi:annotation>
      <xsi:documentation>TsValuesSingleVariableTypea aggregates the list of values and associated metadata. It is the values element in the timeSereisResponse

Attributes are optional, but use @count is encouraged. 

The atrributes @unitsAreConverted, @untsCode,@unitsAbbreviation, and @unitsType were originally included to allow for translation from orignal variable units.  Thier use is not encouraged. Get unit information from the Variable element.</xsi:documentation>
    </xsi:annotation>
    <xsi:sequence>
      <xsi:element minOccurs="1" maxOccurs="unbounded" name="value" type="ValueSingleVariable">
        <xsi:annotation>
          <xsi:documentation>Multiple  &lt;value&gt;s  represent the data series. 
</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" maxOccurs="unbounded" ref="qualifier">
        <xsi:annotation>
          <xsi:documentation>multiple &lt;qualifier&gt;s containg the data qualifying comments that accompany the data.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" maxOccurs="unbounded" ref="qualityControlLevel">
        <xsi:annotation>
          <xsi:documentation>&lt;qualityControlLevel&gt; contains the quality control levels that are used for versioning data within the data values</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" maxOccurs="unbounded" name="method" type="MethodType">
        <xsi:annotation>
          <xsi:documentation>Multiple &amp;amp;amp;lt;method&amp;amp;amp;gt;s  lists the methods used to collect the data and any additional information about the method.

@methodID is the link between the values, and method.

Different instruments should be represented as different methods, according to ODM best practices</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" maxOccurs="unbounded" name="source" type="SourceType">
        <xsi:annotation>
          <xsi:documentation>The Sources the original sources of the data, providing information sufficient to retrieve the data value.

@sourceID is the link bewteen source  the values.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" maxOccurs="unbounded" name="offset" type="OffsetType">
        <xsi:annotation>
          <xsi:documentation>&lt;offset&gt; is of type OffsetType. offset lists full descriptive information for each of the measurement offsets.

@offsetID is the link between offset, and values.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
    </xsi:sequence>
    <xsi:attribute name="timeZoneShiftApplied" type="xsi:boolean" use="optional">
      <xsi:annotation>
        <xsi:documentation>If a webservice has transformed the time zone from the original data.</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
    <xsi:attributeGroup ref="unitsAttr">
      <xsi:annotation>
        <xsi:documentation>the measurment units of the value elements in this values element
          </xsi:documentation>
      </xsi:annotation>
    </xsi:attributeGroup>
    <xsi:attribute name="count" type="xsi:nonNegativeInteger">
      <xsi:annotation>
        <xsi:documentation />
      </xsi:annotation>
    </xsi:attribute>
    <xsi:attribute default="false" name="unitsAreConverted" type="xsi:boolean">
      <xsi:annotation>
        <xsi:documentation>True if a webservice has transformed the data from the original units.</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
  </xsi:complexType>
  <xsi:complexType name="VariableInfoType">
    <xsi:annotation>
      <xsi:documentation>VariableInfoType is a complex type containting full descriptive information about a variable, as described by the ODM. This includes one or more variable codes, the short variable name, a detailed variable description, and suggest

It also extends the ODM model, in several methods:
- options contain extended reuqest information. 
- note(s) are for generic extenstion.
- extension is an element where additional namespace information should be placed.
- related allows for parent and child relationships between variables to be communicated.

</xsi:documentation>
    </xsi:annotation>
    <xsi:sequence>
      <xsi:sequence>
        <xsi:element minOccurs="1" maxOccurs="unbounded" ref="variableCode">
          <xsi:annotation>
            <xsi:documentation>One of more elements representing the Text code used by the organization that collects the data to identify the variable.</xsi:documentation>
          </xsi:annotation>
        </xsi:element>
        <xsi:element minOccurs="0" name="variableName" type="xsi:string">
          <xsi:annotation>
            <xsi:documentation>A brief name of the variable that could be shown in a menu</xsi:documentation>
          </xsi:annotation>
        </xsi:element>
        <xsi:element minOccurs="0" name="variableDescription" type="xsi:string">
          <xsi:annotation>
            <xsi:documentation>A detailed description of the variable. May include processing information and other details.</xsi:documentation>
          </xsi:annotation>
        </xsi:element>
        <xsi:element minOccurs="0" maxOccurs="1" name="valueType" type="valueTypeEnum">
          <xsi:annotation>
            <xsi:documentation>Text value indicating what type of data value is being recorded.  For 1.0 this must be from the valueTypeEnum type.
A default value of “Unknown” can be used where the value type is unknown.</xsi:documentation>
          </xsi:annotation>
        </xsi:element>
        <xsi:element minOccurs="0" name="dataType" type="dataTypeEnum">
          <xsi:annotation>
            <xsi:documentation>Text value that identifies the data values as one of several types from the dataTypeEnum 
A default value of “Unknown” can be used where the data type is unknown.</xsi:documentation>
          </xsi:annotation>
        </xsi:element>
        <xsi:element minOccurs="0" name="generalCategory" type="generalCategoryEnum">
          <xsi:annotation>
            <xsi:documentation>General category of the data values from the generalCategoryEnum.
A default value of “Unknown” can be used where the general category is unknown.</xsi:documentation>
          </xsi:annotation>
        </xsi:element>
        <xsi:element minOccurs="0" maxOccurs="1" name="sampleMedium" type="SampleMediumEnum">
          <xsi:annotation>
            <xsi:documentation>Only terms from the SampleMediumEnume can be used to populate the sampleMedium element. 
 A default value of “Unknown” is used where the sample medium is unknown.</xsi:documentation>
          </xsi:annotation>
        </xsi:element>
        <xsi:element minOccurs="0" ref="units">
          <xsi:annotation>
            <xsi:documentation>The units of the measurements asociated withthe variable.

This will be changed to UnitsType in WaterML 1.1</xsi:documentation>
          </xsi:annotation>
        </xsi:element>
        <xsi:element minOccurs="0" maxOccurs="1" ref="options">
          <xsi:annotation>
            <xsi:documentation>A list of options. Option elements are key-value pair elements that control how a variable maght be utilized in a service.
            Examples:
 MODIS web service. Information is aggreated over land or ocean or both. The plotarea option can include: plotarea=land, plotarea=land, plotarea=landocean

USGS uses a statistic code, 0003, to repesent a  value type of 'Average'. The USGS statistic codes also several options that do not fit the ODM data model. </xsi:documentation>
          </xsi:annotation>
        </xsi:element>
        <xsi:element minOccurs="0" maxOccurs="unbounded" name="note" type="NoteType">
          <xsi:annotation>
            <xsi:documentation>Additional information, properties like should be encoded in zero or more &amp;amp;lt;note&amp;amp;gt; elmements.
The name of the property should be @title, and the value should be inside the &amp;lt;note&amp;gt;value&amp;lt;/note&amp;gt;. Attribute @type is provided so that notes can be grouped.</xsi:documentation>
          </xsi:annotation>
        </xsi:element>
        <xsi:element minOccurs="0" name="related">
          <xsi:annotation>
            <xsi:documentation>This can be used to build up relationships between variables.</xsi:documentation>
          </xsi:annotation>
          <xsi:complexType>
            <xsi:sequence maxOccurs="unbounded">
              <xsi:element name="parentID">
                <xsi:annotation>
                  <xsi:documentation>variableCode for the parent</xsi:documentation>
                </xsi:annotation>
                <xsi:complexType>
                  <xsi:simpleContent>
                    <xsi:extension base="xsi:string">
                      <xsi:attributeGroup ref="VocabularyAttributes" />
                    </xsi:extension>
                  </xsi:simpleContent>
                </xsi:complexType>
              </xsi:element>
              <xsi:element name="relatedID">
                <xsi:annotation>
                  <xsi:documentation>Child or other relationships can be encoded using the related element.</xsi:documentation>
                </xsi:annotation>
                <xsi:complexType>
                  <xsi:simpleContent>
                    <xsi:extension base="xsi:string">
                      <xsi:attributeGroup ref="VocabularyAttributes" />
                    </xsi:extension>
                  </xsi:simpleContent>
                </xsi:complexType>
              </xsi:element>
            </xsi:sequence>
          </xsi:complexType>
        </xsi:element>
        <xsi:element minOccurs="0" ref="extension">
          <xsi:annotation>
            <xsi:documentation>In order to simplify comprehension, data sources are encouraged to put additional informaiton in the extension area, using thier own namespace. Clients need not understand information in &amp;lt;extension?</xsi:documentation>
          </xsi:annotation>
        </xsi:element>
        <xsi:element minOccurs="0" name="NoDataValue" type="xsi:string">
          <xsi:annotation>
            <xsi:documentation>Numeric value used to encode no data values for this variable.</xsi:documentation>
          </xsi:annotation>
        </xsi:element>
        <xsi:element minOccurs="0" name="timeSupport" nillable="true">
          <xsi:annotation>
            <xsi:documentation>Element containing the time support (or temporal footprint) of the data values.  
@isRegular indicates if the spacing is regular.
In waterML 1.0, there is a divergence of mean between ODM, and WaterML.
WaterML only communcates the regularity, and the spacing of the observations (timeInterval). Whereas timesupport in the ODM is associated with the dataType, and time support. This will be addressed in 1.1
</xsi:documentation>
          </xsi:annotation>
          <xsi:complexType>
            <xsi:sequence>
              <xsi:annotation>
                <xsi:documentation>
0 is used to indicate data values that are instantaneous.  Other values indicate the time over which the data values are implicitly or explicitly averaged or aggregated.

The default for the TimeSupport field is 0.  This corresponds to instantaneous values.  If the TimeSupport field is set to a value other than 0, an appropriate TimeUnitsID must be specified.  The TimeUnitsID field can only reference valid UnitsID values from the Units controlled vocabulary table.  If the TimeSupport field is set to 0, any time units can be used (i.e., seconds, minutes, hours, etc.), however a default value of 103 has been used, which corresponds with hours</xsi:documentation>
              </xsi:annotation>
              <xsi:element minOccurs="0" maxOccurs="1" name="unit" type="UnitsType" />
              <xsi:element minOccurs="0" maxOccurs="1" name="timeInterval" type="xsi:int" />
            </xsi:sequence>
            <xsi:attribute name="isRegular" type="xsi:boolean" />
          </xsi:complexType>
        </xsi:element>
      </xsi:sequence>
    </xsi:sequence>
    <xsi:attributeGroup ref="DbIdentifiers" />
  </xsi:complexType>
  <xsi:complexType name="QueryInfoType">
    <xsi:annotation>
      <xsi:documentation>This contains information about the request, and is used to enable the XML responses (timeSeriesResponse, variablesResponse,siteResponse) to be stored on disk.</xsi:documentation>
    </xsi:annotation>
    <xsi:sequence>
      <xsi:element minOccurs="0" name="creationTime" type="xsi:dateTime">
        <xsi:annotation>
          <xsi:documentation>When was this response originally created.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" name="queryURL" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>The URL of the web page that was used as the original source for the response. Often requests scrap HTML pages. This should be the URL of that page.
If the response is retreive from a rest URL. This is also a the location for the URL.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" name="querySQL" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>For debugging, the SQL used to generate this request may be placed in this element.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" name="criteria">
        <xsi:annotation>
          <xsi:documentation>The criteria are the actual parameters that are passed into the method. If you are generate this without a XML helper class, be sure to properly encode these elements.</xsi:documentation>
        </xsi:annotation>
        <xsi:complexType>
          <xsi:sequence minOccurs="0">
            <xsi:element minOccurs="0" name="locationParam" type="xsi:string">
              <xsi:annotation>
                <xsi:documentation>the location or site parameter passed into the site</xsi:documentation>
              </xsi:annotation>
            </xsi:element>
            <xsi:element minOccurs="0" name="variableParam" type="xsi:string">
              <xsi:annotation>
                <xsi:documentation>the variable paramter passed into the service</xsi:documentation>
              </xsi:annotation>
            </xsi:element>
            <xsi:element minOccurs="0" name="timeParam">
              <xsi:annotation>
                <xsi:documentation>the begin and end time of the GetValues request used to generate a timeSeriesResponse.</xsi:documentation>
              </xsi:annotation>
              <xsi:complexType>
                <xsi:sequence>
                  <xsi:element minOccurs="0" maxOccurs="1" name="beginDateTime" type="xsi:string">
                    <xsi:annotation>
                      <xsi:documentation>The string submited as startDate to the GetValues method</xsi:documentation>
                    </xsi:annotation>
                  </xsi:element>
                  <xsi:element minOccurs="0" maxOccurs="1" name="endDateTime" type="xsi:string">
                    <xsi:annotation>
                      <xsi:documentation>The string submited a startDate to the GetValues method</xsi:documentation>
                    </xsi:annotation>
                  </xsi:element>
                </xsi:sequence>
              </xsi:complexType>
            </xsi:element>
          </xsi:sequence>
        </xsi:complexType>
      </xsi:element>
      <xsi:element maxOccurs="unbounded" name="note" type="NoteType">
        <xsi:annotation>
          <xsi:documentation>Additional information, properties like should be encoded in zero or more &amp;amp;lt;note&amp;amp;gt; elmements.
The name of the property should be @title, and the value should be inside the &amp;lt;note&amp;gt;value&amp;lt;/note&amp;gt;. Attribute @type is provided so that notes can be grouped.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element ref="extension">
        <xsi:annotation>
          <xsi:documentation>In order to simplify comprehension, data sources are encouraged to put additional informaiton in the extension area, using thier own namespace. Clients need not understand information in &amp;lt;extension?</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
    </xsi:sequence>
  </xsi:complexType>
  <xsi:element name="variables">
    <xsi:annotation>
      <xsi:documentation>variables is a list of variable elements (VariableInfoType).</xsi:documentation>
    </xsi:annotation>
    <xsi:complexType>
      <xsi:sequence>
        <xsi:element minOccurs="0" maxOccurs="unbounded" name="variable" type="VariableInfoType">
          <xsi:annotation>
            <xsi:documentation>zero or more variable elements are contained in a variables element.
See VariableInfoType for more details on the information in the variable element</xsi:documentation>
          </xsi:annotation>
        </xsi:element>
      </xsi:sequence>
    </xsi:complexType>
  </xsi:element>
  <xsi:attributeGroup name="VocabularyAttributes">
    <xsi:annotation>
      <xsi:documentation>Tthe attribute group vocabularyAttributes contains common attributes used to differentiate data source codes. 
A network should be provided with a siteCode, and a vocabular should be provided with a variableCode.
If there is more than one code, one code should be provided as the default code for the service.
</xsi:documentation>
    </xsi:annotation>
    <xsi:attribute name="network" type="xsi:string">
      <xsi:annotation>
        <xsi:documentation>@netowrk codespace for the siteCode datasource.
Submitted to webservice as 'network:sitecode'</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
    <xsi:attribute name="vocabulary" type="xsi:string">
      <xsi:annotation>
        <xsi:documentation>@vocabulary codespace for the variableCode for a datasource.
Submitted to webservice as 'vocabulary:vocabularyCode'</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
    <xsi:attribute name="default" type="xsi:boolean" />
  </xsi:attributeGroup>
  <xsi:attributeGroup name="DbIdentifiers">
    <xsi:annotation>
      <xsi:documentation>thei attribute group provides provenance information for when an object is retrieved from a database.</xsi:documentation>
    </xsi:annotation>
    <xsi:attribute name="oid" type="xsi:normalizedString">
      <xsi:annotation>
        <xsi:documentation>object identifier, or guid for an object</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
    <xsi:attribute name="metadataDateTime" type="xsi:dateTime">
      <xsi:annotation>
        <xsi:documentation>time object was created in the database.</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
  </xsi:attributeGroup>
  <xsi:element name="timeZoneInfo">
    <xsi:annotation>
      <xsi:documentation>The default time zone for this site (+00:00) and if this site shifts to daylight savings time (attribute: usesDaylightSavingsTime)</xsi:documentation>
    </xsi:annotation>
    <xsi:complexType>
      <xsi:sequence>
        <xsi:element minOccurs="0" maxOccurs="1" name="defaultTimeZone">
          <xsi:annotation>
            <xsi:documentation>The default time zone for a site, specified in hours and minutes: "hh:mm"</xsi:documentation>
          </xsi:annotation>
          <xsi:complexType>
            <xsi:attributeGroup ref="timeZoneAttr" />
          </xsi:complexType>
        </xsi:element>
        <xsi:element minOccurs="0" maxOccurs="1" name="daylightSavingsTimeZone">
          <xsi:annotation>
            <xsi:documentation>The daylight savings time zone for a site, specified in hours and minutes: "hh:mm"</xsi:documentation>
          </xsi:annotation>
          <xsi:complexType>
            <xsi:attributeGroup ref="timeZoneAttr" />
          </xsi:complexType>
        </xsi:element>
      </xsi:sequence>
      <xsi:attribute default="false" name="siteUsesDaylightSavingsTime" type="xsi:boolean" use="optional">
        <xsi:annotation>
          <xsi:documentation>If the location shifts it's data sources to Daylight Savings Time, this flag should be true.</xsi:documentation>
        </xsi:annotation>
      </xsi:attribute>
    </xsi:complexType>
  </xsi:element>
  <xsi:attributeGroup name="ValueAttr">
    <xsi:annotation>
      <xsi:documentation>valueAttr contains the possible attributes that can be associated with a data value element.</xsi:documentation>
    </xsi:annotation>
    <xsi:attribute name="qualifiers" type="xsi:string">
      <xsi:annotation>
        <xsi:documentation>@qualifier contains a qualifier code whose details are described in the values/ qualifier element(s)
Space delimit multiple qualifier codes.</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
    <xsi:attribute name="censorCode" type="CensorCodeEnum">
      <xsi:annotation>
        <xsi:documentation>indication of whether the data value is censored
@censorCode codelist is censorCodeEnum.</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
    <xsi:attribute name="dateTime" type="xsi:dateTime" use="required">
      <xsi:annotation>
        <xsi:documentation>XML date and time at which the data value was observed. This is an ISO specified string, that can contain a time zone offset, if apprpriate. If no time offset is specificed, the data is in the local time zone of the station.</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
    <xsi:attribute name="qualityControlLevel" type="QualityControlLevelEnum">
      <xsi:annotation>
        <xsi:documentation>text string giving the level of quality control that the value has been subjected to.
Codelist is from qualityControlLevelEnum.</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
    <xsi:attribute name="methodID" type="xsi:int">
      <xsi:annotation>
        <xsi:documentation>@qualifier contains a identifier whose details are described in the values/method element(s)
</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
    <xsi:attribute name="sourceID" type="xsi:int">
      <xsi:annotation>
        <xsi:documentation>@methodID contains an identifier whose details are described in the values/method element(s)
</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
    <xsi:attribute name="accuracyStdDev" type="xsi:double">
      <xsi:annotation>
        <xsi:documentation>Numeric value that describes the measurement accuracy of the data value. If not given, it is interpreted as unknown.</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
    <xsi:attribute name="codedVocabulary" type="xsi:boolean">
      <xsi:annotation>
        <xsi:documentation>If a value is categorical, then @codedVocabulary is set to true, and the categorical term is placed in@codedVocabularyTerm, and a numeric value put in the value.

While not a good practice, allows for categorical and numeric values to be intermixed.</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
    <xsi:attribute name="codedVocabularyTerm" type="xsi:string" />
    <xsi:attribute name="sampleID" type="xsi:int">
      <xsi:annotation>
        <xsi:documentation>@sampleId contains a n identifier whose details are described in the values/samples element(s) 
This is required only if the data value resulted from a physical sample processed in a lab.</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
  </xsi:attributeGroup>
  <xsi:attributeGroup name="timeZoneAttr">
    <xsi:attribute name="ZoneAbbreviation" type="xsi:normalizedString" use="optional">
      <xsi:annotation>
        <xsi:documentation>the standard abbreviation for this time zone (GMT; EST)</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
    <xsi:attribute name="ZoneOffset" type="xsi:string" use="required">
      <xsi:annotation>
        <xsi:documentation>Hours and minutes offset for this time zone  (+00:00).</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
  </xsi:attributeGroup>
  <xsi:element name="optionGroup">
    <xsi:complexType>
      <xsi:sequence>
        <xsi:element maxOccurs="unbounded" ref="option" />
      </xsi:sequence>
    </xsi:complexType>
  </xsi:element>
  <xsi:complexType name="DocumentationType" mixed="true">
    <xsi:attribute name="type" type="DocumentationEnumTypes" />
    <xsi:attributeGroup ref="XLinkAttr" />
  </xsi:complexType>
  <xsi:simpleType name="DocumentationEnumTypes">
    <xsi:union memberTypes="xsi:token">
      <xsi:simpleType>
        <xsi:restriction base="xsi:token">
          <xsi:enumeration value="funding" />
          <xsi:enumeration value="history" />
          <xsi:enumeration value="processing_level" />
          <xsi:enumeration value="rights" />
          <xsi:enumeration value="summary" />
        </xsi:restriction>
      </xsi:simpleType>
    </xsi:union>
  </xsi:simpleType>
  <xsi:attributeGroup name="XLinkAttr">
    <xsi:attribute name="href" type="xsi:string" />
    <xsi:attribute name="title" type="xsi:string" />
    <xsi:attribute name="show" type="xsi:string" />
  </xsi:attributeGroup>
  <xsi:element name="options">
    <xsi:annotation>
      <xsi:documentation>A list of options. Option elements are key-value pair elements that control how a variable maght be utilized in a service.
            Examples:
 MODIS web service. Information is aggreated over land or ocean or both. The plotarea option can include: plotarea=land, plotarea=land, plotarea=landocean

USGS uses a statistic code, 0003, to repesent a  value type of 'Average'. The USGS statistic codes also several options that do not fit the ODM data model. </xsi:documentation>
    </xsi:annotation>
    <xsi:complexType>
      <xsi:sequence>
        <xsi:element minOccurs="0" maxOccurs="unbounded" ref="option">
          <xsi:annotation>
            <xsi:documentation>Option elements are key-value pair elements that control how a variable maght be utilized in a service.
            Examples:
 MODIS web service. Information is aggreated over land or ocean or both. The plotarea option can include: plotarea=land, plotarea=land, plotarea=landocean

USGS uses a statistic code, 0003, to repesent a  value type of 'Average'. The USGS statistic codes also several options that do not fit the ODM data model. </xsi:documentation>
          </xsi:annotation>
        </xsi:element>
      </xsi:sequence>
    </xsi:complexType>
  </xsi:element>
  <xsi:complexType name="SourceInfoType">
    <xsi:annotation>
      <xsi:documentation>SourceInfoType is used to describe the data source in the timeSeriesResponse.
SourceInfoType is the base type for data source information. At present, two types are derived from SourceInfoType: SiteInfoType, and DataSetInfoType. SiteInfoType describes tlocation for  a timeseries where that time series is located at a site or a DataSetInfoType describes time series derived from a dataset, such as a netCDF file, or a gridded model.
</xsi:documentation>
    </xsi:annotation>
  </xsi:complexType>
  <xsi:complexType name="DataSetInfoType">
    <xsi:annotation>
      <xsi:documentation>DataSetInfoType describes time series derived from a dataset, such as a netCDF file, or a gridded model.</xsi:documentation>
    </xsi:annotation>
    <xsi:complexContent mixed="false">
      <xsi:extension base="SourceInfoType">
        <xsi:sequence>
          <xsi:element name="dataSetIdentifier" type="xsi:string">
            <xsi:annotation>
              <xsi:documentation>The indentifier which the original source uses to identify this dataset. This may be a unique indentifier, or  a URL from which the data source was retireved</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
          <xsi:element minOccurs="0" maxOccurs="1" ref="timeZoneInfo">
            <xsi:annotation>
              <xsi:documentation>the default time zone for this site (+00:00) and if this site shifts to daylight savings time (attribute: usesDaylightSavingsTime)</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
          <xsi:element name="dataSetDescription" type="xsi:string">
            <xsi:annotation>
              <xsi:documentation>Text description describing the data source. </xsi:documentation>
            </xsi:annotation>
          </xsi:element>
          <xsi:element minOccurs="0" maxOccurs="unbounded" name="note" type="NoteType">
            <xsi:annotation>
              <xsi:documentation>Additional information, about a dataset, or  other properties should be encoded in zero or more &amp;amp;lt;note&amp;amp;gt; elmements.
The name of the property should be @title, and the value should be inside the &amp;lt;note&amp;gt;value&amp;lt;/note&amp;gt;. Attribute @type is provided so that notes can be grouped.</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
          <xsi:element minOccurs="0" maxOccurs="1" name="dataSetLocation" type="GeogLocationType">
            <xsi:annotation>
              <xsi:documentation>geolocation describing the spatial coverage of a gridded dataset.</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
          <xsi:element ref="extension">
            <xsi:annotation>
              <xsi:documentation>In order to simplify comprehension, data sources are encouraged to put additional informaiton in the extension area, using thier own namespace. Clients need not understand information in extension element</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
        </xsi:sequence>
      </xsi:extension>
    </xsi:complexContent>
  </xsi:complexType>
  <xsi:element name="datasetInfo" type="DataSetInfoType">
    <xsi:annotation>
      <xsi:documentation>dataSetInfo element describes time series derived from a dataset, such as a netCDF file, or a gridded model.</xsi:documentation>
    </xsi:annotation>
  </xsi:element>
  <xsi:complexType name="TimePeriodType">
    <xsi:annotation>
      <xsi:documentation>time series (site-variable-observation) can have three types of time periods:
1) definite start and end time, or TimeIntervalType,
2) single observation, or TimeSingleType
3) Real Time station with moving window of data available, or TimeRealTimeType

In order to simplify client development, all types now include beginDateTime, and endDateTime.

A fourth type should be added:
4) continuing site, where start is known, and site is still collecting data. This could be a realTimeType, or rename the real time type to TimeDefinedPeriodType.
</xsi:documentation>
    </xsi:annotation>
    <xsi:sequence />
  </xsi:complexType>
  <xsi:complexType name="TimeIntervalType">
    <xsi:annotation>
      <xsi:documentation>For where a series has multiple observations, and a define beingDateTime as dateTime of  the first data value in the series,  and endDateTime dateTime of the last data value in the series.  </xsi:documentation>
    </xsi:annotation>
    <xsi:complexContent mixed="false">
      <xsi:extension base="TimePeriodType">
        <xsi:sequence>
          <xsi:element name="beginDateTime" type="xsi:dateTime">
            <xsi:annotation>
              <xsi:documentation>dateTime of the first data value in the series.  

The dateTime is specified in the following form "YYYY-MM-DDThh:mm:ss" where:

    * YYYY indicates the year
    * MM indicates the month
    * DD indicates the day
    * T indicates the start of the required time section
    * hh indicates the hour
    * mm indicates the minute
    * ss indicates the second

Note: All components are required!</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
          <xsi:element name="endDateTime" type="xsi:dateTime">
            <xsi:annotation>
              <xsi:documentation>Date of the last data value in the series.  

The dateTime is specified in the following form "YYYY-MM-DDThh:mm:ss" where:

    * YYYY indicates the year
    * MM indicates the month
    * DD indicates the day
    * T indicates the start of the required time section
    * hh indicates the hour
    * mm indicates the minute
    * ss indicates the second

Note: All components are required!</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
        </xsi:sequence>
      </xsi:extension>
    </xsi:complexContent>
  </xsi:complexType>
  <xsi:complexType name="TimeSingleType">
    <xsi:annotation>
      <xsi:documentation>For where a series is a single observation.

timeSingle, beginDateTime, and endDateTime will have the same value. The beginDateTime and endDateTime are provided to simplify usage by clients.They should be be calculated based on the duration stored in realTimeDataPeriod</xsi:documentation>
    </xsi:annotation>
    <xsi:complexContent mixed="false">
      <xsi:extension base="TimePeriodType">
        <xsi:sequence>
          <xsi:element name="timeSingle" type="xsi:dateTime" />
          <xsi:element name="beginDateTime" type="xsi:dateTime">
            <xsi:annotation>
              <xsi:documentation>dateTime of the first data value in the series.  

The dateTime is specified in the following form "YYYY-MM-DDThh:mm:ss" where:

    * YYYY indicates the year
    * MM indicates the month
    * DD indicates the day
    * T indicates the start of the required time section
    * hh indicates the hour
    * mm indicates the minute
    * ss indicates the second

Note: All components are required!</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
          <xsi:element name="endDateTime" type="xsi:dateTime">
            <xsi:annotation>
              <xsi:documentation>Date of the last data value in the series.  

The dateTime is specified in the following form "YYYY-MM-DDThh:mm:ss" where:

    * YYYY indicates the year
    * MM indicates the month
    * DD indicates the day
    * T indicates the start of the required time section
    * hh indicates the hour
    * mm indicates the minute
    * ss indicates the second

Note: All components are required!</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
        </xsi:sequence>
      </xsi:extension>
    </xsi:complexContent>
  </xsi:complexType>
  <xsi:complexType name="TimePeriodRealTimeType">
    <xsi:annotation>
      <xsi:documentation>Use where a site has an evolving period where data is available.
The US Geological Survey real time data is available for 30 days, the realTimeDataPeriod element is an XML duration and woudl be "30d"

The beginDateTime and endDateTime are provided to simplify usage by clients.They should be be calculated based on the duration stored in realTimeDataPeriod</xsi:documentation>
    </xsi:annotation>
    <xsi:complexContent mixed="false">
      <xsi:extension base="TimePeriodType">
        <xsi:sequence>
          <xsi:element name="realTimeDataPeriod" type="xsi:duration">
            <xsi:annotation>
              <xsi:documentation>Duration Data Type

The duration data type is used to specify a time interval.

The time interval is specified in the following form "PnYnMnDTnHnMnS" where:

    * P indicates the period (required)
    * nY indicates the number of years
    * nM indicates the number of months
    * nD indicates the number of days
    * T indicates the start of a time section (required if you are going to specify hours, minutes, or seconds)
    * nH indicates the number of hours
    * nM indicates the number of minutes
    * nS indicates the number of seconds
</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
          <xsi:element name="beginDateTime" type="xsi:dateTime">
            <xsi:annotation>
              <xsi:documentation>dateTime of the first data value in the series.  
This should be be calculated based on the duration stored in realTimeDataPeriod

The dateTime is specified in the following form "YYYY-MM-DDThh:mm:ss" where:

    * YYYY indicates the year
    * MM indicates the month
    * DD indicates the day
    * T indicates the start of the required time section
    * hh indicates the hour
    * mm indicates the minute
    * ss indicates the second

Note: All components are required!</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
          <xsi:element name="endDateTime" type="xsi:dateTime">
            <xsi:annotation>
              <xsi:documentation>Date of the last data value in the series.  
This should be be calculated based on the duration stored in realTimeDataPeriod

The dateTime is specified in the following form "YYYY-MM-DDThh:mm:ss" where:

    * YYYY indicates the year
    * MM indicates the month
    * DD indicates the day
    * T indicates the start of the required time section
    * hh indicates the hour
    * mm indicates the minute
    * ss indicates the second

Note: All components are required!</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
        </xsi:sequence>
      </xsi:extension>
    </xsi:complexContent>
  </xsi:complexType>
  <xsi:complexType name="GeogLocationType">
    <xsi:annotation>
      <xsi:documentation>GeogLocationType is the base class for the two geometry types: LatLonPointType, and LatLonBoxType.
Any additional types should derive from this type.
The default spatial reference system is  @srs is EPSG:4326  or Geographic lat long.
</xsi:documentation>
    </xsi:annotation>
    <xsi:sequence />
    <xsi:attribute default="EPSG:4326" name="srs" type="xsi:string" use="optional" />
  </xsi:complexType>
  <xsi:complexType name="LatLonPointType">
    <xsi:complexContent mixed="false">
      <xsi:extension base="GeogLocationType">
        <xsi:sequence>
          <xsi:element name="latitude" type="Latitude">
            <xsi:annotation>
              <xsi:documentation>
            The latitude of the site in a decimal degrees as calculated in terms of the given datum.
          </xsi:documentation>
            </xsi:annotation>
          </xsi:element>
          <xsi:element name="longitude" type="Longitude">
            <xsi:annotation>
              <xsi:documentation>
            The longitude of the site in a decimal degrees as calculated in terms of the given datum.
          </xsi:documentation>
            </xsi:annotation>
          </xsi:element>
        </xsi:sequence>
      </xsi:extension>
    </xsi:complexContent>
  </xsi:complexType>
  <xsi:element name="latLonPoint" type="LatLonPointType">
    <xsi:annotation>
      <xsi:documentation>Point type for describing a geographic location</xsi:documentation>
    </xsi:annotation>
  </xsi:element>
  <xsi:complexType name="LatLonBoxType">
    <xsi:complexContent mixed="false">
      <xsi:extension base="GeogLocationType">
        <xsi:sequence>
          <xsi:element name="south" type="Latitude">
            <xsi:annotation>
              <xsi:documentation>South Latitude</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
          <xsi:element name="west" type="Longitude">
            <xsi:annotation>
              <xsi:documentation>West Longitude</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
          <xsi:element name="north" type="Latitude">
            <xsi:annotation>
              <xsi:documentation>North Latitude</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
          <xsi:element name="east" type="Longitude">
            <xsi:annotation>
              <xsi:documentation>East longitude.</xsi:documentation>
            </xsi:annotation>
          </xsi:element>
        </xsi:sequence>
      </xsi:extension>
    </xsi:complexContent>
  </xsi:complexType>
  <xsi:element name="latLonBox" type="LatLonBoxType">
    <xsi:annotation>
      <xsi:documentation>Box type describing a geographic location.</xsi:documentation>
    </xsi:annotation>
  </xsi:element>
  <xsi:simpleType name="Longitude">
    <xsi:annotation>
      <xsi:documentation>The longitude of the site in a decimal degrees as calculated in terms of the given datum.</xsi:documentation>
    </xsi:annotation>
    <xsi:restriction base="xsi:double">
      <xsi:minInclusive value="-180.00" />
      <xsi:maxInclusive value="180.00" />
    </xsi:restriction>
  </xsi:simpleType>
  <xsi:simpleType name="Latitude">
    <xsi:annotation>
      <xsi:documentation>The latitude of the site in a decimal degrees as calculated in terms of the given datum.
          </xsi:documentation>
    </xsi:annotation>
    <xsi:restriction base="xsi:double">
      <xsi:minInclusive value="-90.00" />
      <xsi:maxInclusive value="90.00" />
    </xsi:restriction>
  </xsi:simpleType>
  <xsi:complexType name="seriesCatalogType">
    <xsi:annotation>
      <xsi:documentation>Series catalog represents a list of series, where each  separate data series are for the purposes of identifying or displaying what data are available at each site. </xsi:documentation>
    </xsi:annotation>
    <xsi:sequence>
      <xsi:element minOccurs="0" maxOccurs="unbounded" name="note" type="NoteType">
        <xsi:annotation>
          <xsi:documentation>Additional information, properties like should be encoded in zero or more 
In seriesCatalog note elements are placed at the top, to simplify human identification, since there  can be tens, or hundred of series for a location. 

The name of the property should be @title, and the value should be inside the note
element. Attribute @type is provided so that notes can be grouped.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" maxOccurs="unbounded" name="series">
        <xsi:annotation>
          <xsi:documentation>Separate data series are for the purposes of identifying or displaying what data are available at each site.  

Site information is a parent of the series so that it does not need to be repeated (difference from the ODM. ). A Site contains one or more seriesCatalogs which contain one or more series.

Assotiated with site, a series is a unique combination of the textual repesentation of ODM series: Variable,Method,Source,QualityControlLevel.

An ODM series is a unique site/variable combinations are defined by unique combinations of SiteID, VariableID, MethodID, SourceID, and QualityControlLevelID.  </xsi:documentation>
        </xsi:annotation>
        <xsi:complexType>
          <xsi:sequence>
            <xsi:element minOccurs="0" maxOccurs="1" name="dataType" type="dataTypeEnum">
              <xsi:annotation>
                <xsi:documentation>Text value that identifies the data as one of several types as found ing dataTypeEnum</xsi:documentation>
              </xsi:annotation>
            </xsi:element>
            <xsi:element name="variable" type="VariableInfoType" />
            <xsi:element name="valueCount">
              <xsi:complexType>
                <xsi:simpleContent>
                  <xsi:extension base="xsi:int">
                    <xsi:attribute name="countIsEstimated" type="xsi:boolean" />
                  </xsi:extension>
                </xsi:simpleContent>
              </xsi:complexType>
            </xsi:element>
            <xsi:element name="variableTimeInterval" type="TimePeriodType">
              <xsi:annotation>
                <xsi:documentation>this describes the time period that ana variable or observed parameter are available for.
This is of TimePeriodType, which is presently:
TimeIntervalType - definite begin and end
TimeSingleType - single observation/datavalue
TimePeriodRealTime - a floating time period for when data is available.

This will have a xml schema type attribute:
xsi:type="TimeIntervalType" 
xsi:type="TimeSingleType" 
xsi:type="TimePeriodRealTime" </xsi:documentation>
              </xsi:annotation>
            </xsi:element>
            <xsi:element minOccurs="0" maxOccurs="1" name="valueType" type="valueTypeEnum">
              <xsi:annotation>
                <xsi:documentation>Text value indicating what type of data value is being recorded as listed in valueTypeEnum</xsi:documentation>
              </xsi:annotation>
            </xsi:element>
            <xsi:element minOccurs="0" maxOccurs="1" name="generalCategory" type="generalCategoryEnum">
              <xsi:annotation>
                <xsi:documentation>General category of the variable as listed in generalCategoryEnum</xsi:documentation>
              </xsi:annotation>
            </xsi:element>
            <xsi:element minOccurs="0" maxOccurs="1" name="sampleMedium" type="SampleMediumEnum">
              <xsi:annotation>
                <xsi:documentation>The medium of the sample as listed in SampleTypeEnum</xsi:documentation>
              </xsi:annotation>
            </xsi:element>
            <xsi:element minOccurs="0" maxOccurs="1" name="Method" type="MethodType">
              <xsi:annotation>
                <xsi:documentation>Method description. 
Optional, since many sources do not have detailed methods. 

ODM datasources require methods.</xsi:documentation>
              </xsi:annotation>
            </xsi:element>
            <xsi:element minOccurs="0" maxOccurs="1" name="Source" type="SourceType">
              <xsi:annotation>
                <xsi:documentation>Source of the data values and reference information to recover/discover the data from the source. </xsi:documentation>
              </xsi:annotation>
            </xsi:element>
            <xsi:element minOccurs="0" maxOccurs="1" name="QualityControlLevel" type="QualityControlLevelType">
              <xsi:annotation>
                <xsi:documentation>Code used to identify the level of quality control to which data values have been subjected.

</xsi:documentation>
              </xsi:annotation>
            </xsi:element>
          </xsi:sequence>
        </xsi:complexType>
      </xsi:element>
    </xsi:sequence>
    <xsi:attribute name="menuGroupName" type="xsi:string">
      <xsi:annotation>
        <xsi:documentation>For clients, this is the list of the html select group element.
This would allow for groups or seriesCatalogs to appear in an HTML select menu.</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
    <xsi:attribute name="serviceWsdl" type="xsi:anyURI">
      <xsi:annotation>
        <xsi:documentation>(depreciated) 
location of the WaterOneFlow service that the client should execute GetValues call on.


All services now proxy getValues methods from other sources.</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
  </xsi:complexType>
  <xsi:attributeGroup name="offsetAttr">
    <xsi:attribute name="offsetValue" type="xsi:double" />
    <xsi:attribute name="offsetTypeID" type="xsi:int" />
    <xsi:attribute name="offsetDescription" type="xsi:string" />
    <xsi:attribute name="offsetUnitsAbbreviation" type="xsi:string" />
    <xsi:attribute name="offsetUnitsCode" type="xsi:string" />
  </xsi:attributeGroup>
  <xsi:simpleType name="CensorCodeEnum">
    <xsi:restriction base="xsi:string">
      <xsi:enumeration value="lt" />
      <xsi:enumeration value="gt" />
      <xsi:enumeration value="nc" />
      <xsi:enumeration value="nd" />
      <xsi:enumeration value="pnq" />
    </xsi:restriction>
  </xsi:simpleType>
  <xsi:complexType name="QualifiersType">
    <xsi:annotation>
      <xsi:documentation>qualifying comments that accompany the data</xsi:documentation>
    </xsi:annotation>
    <xsi:sequence>
      <xsi:element name="qualifier">
        <xsi:annotation>
          <xsi:documentation>qualifying comments that accompany the data. value/@qaulifier is a space delimted list of qualifiers for a data value. @qualifierCode is the link to the value/@qualifier for a single value

The value inside provides the textual description. @qualifierCode is the reference code.

@qualifierCode=A
qualifier value=Approved

@vocabulary and @network are suggested. For example a value from the USGS may qualifiers from multiple vocabularies, and the network would be the data service.</xsi:documentation>
        </xsi:annotation>
        <xsi:complexType>
          <xsi:sequence>
            <xsi:element name="qualifierCode" type="xsi:token">
              <xsi:annotation>
                <xsi:documentation>Text code used by organization that collects the data.
value/@qaulifier is a space delimted list of qualifiers for a data value. @qualifierCode is the link to the value/@qualifier for a single value</xsi:documentation>
              </xsi:annotation>
            </xsi:element>
          </xsi:sequence>
          <xsi:attribute name="qualifierID" type="xsi:int" />
          <xsi:attributeGroup ref="VocabularyAttributes" />
        </xsi:complexType>
      </xsi:element>
    </xsi:sequence>
  </xsi:complexType>
  <xsi:complexType name="TimeSeriesType">
    <xsi:annotation>
      <xsi:documentation>Contains the source of the time series, the variable, and values element which is an array of value elements and thier associated metadata (qualifiers, methods, sources, quality control level, samples)</xsi:documentation>
    </xsi:annotation>
    <xsi:sequence>
      <xsi:element name="sourceInfo" type="SourceInfoType" />
      <xsi:element name="variable" type="VariableInfoType">
        <xsi:annotation>
          <xsi:documentation>Contains full descriptive information about a variable, as described by the ODM. This includes one or more variable codes, the short variable name, a detailed variable description, and suggest.
See VariableInforType for full details.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element name="values" type="TsValuesSingleVariableType">
        <xsi:annotation>
          <xsi:documentation>A list of values and associated metadata. It is the values element in the timeSerissResponse</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
    </xsi:sequence>
    <xsi:attribute name="name" type="xsi:string" use="required">
      <xsi:annotation>
        <xsi:documentation>Name of the time series. optional.</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
  </xsi:complexType>
  <xsi:element name="variablesResponse" type="VariablesResponseType">
  </xsi:element>
  <xsi:element name="timeSeriesResponse" type="TimeSeriesResponseType" />
  <xsi:element name="sitesResponse" type="SiteInfoResponseType">

  </xsi:element>
  <xsi:complexType name="NoteType">
    <xsi:annotation>
      <xsi:documentation>NoteType defines the note element available in many defined types.

the value should the description of the note.
@title should be the brief name that might be displayed as a lable
@type can be used to allow for grouping of elements.</xsi:documentation>
    </xsi:annotation>
    <xsi:simpleContent>
      <xsi:extension base="xsi:string">
        <xsi:attribute name="type" type="xsi:string" />
        <xsi:attributeGroup ref="XLinkAttr" />
      </xsi:extension>
    </xsi:simpleContent>
  </xsi:complexType>
  <xsi:element name="option">
    <xsi:annotation>
      <xsi:documentation>Option elements are key-value pair elements that control how a variable maght be utilized in a service.
            Examples:
 MODIS web service. Information is aggreated over land or ocean or both. The plotarea option can include: plotarea=land, plotarea=land, plotarea=landocean

USGS uses a statistic code, 0003, to repesent a  value type of 'Average'. The USGS statistic codes also several options that do not fit the ODM data model. </xsi:documentation>
    </xsi:annotation>
    <xsi:complexType>
      <xsi:simpleContent>
        <xsi:extension base="xsi:string">
          <xsi:attribute name="name" type="xsi:normalizedString" />
          <xsi:attribute name="optionID" type="xsi:integer" />
          <xsi:attribute name="optionCode" type="xsi:token" />
        </xsi:extension>
      </xsi:simpleContent>
    </xsi:complexType>
  </xsi:element>
  <xsi:element name="variableCode">
    <xsi:annotation>
      <xsi:documentation>Text code used by the organization that collects the data to identify the variable. The attribute @vocabulary must be set to the data source name, so the clients can subbumit variable requests to a web service (net

USGS discharge

variableCode
  @vocabularyk=NWISDV
  @default=true
  “00060”</xsi:documentation>
    </xsi:annotation>
    <xsi:complexType>
      <xsi:simpleContent>
        <xsi:extension base="xsi:token">
          <xsi:attributeGroup ref="VocabularyAttributes" />
          <xsi:attribute name="variableID" type="xsi:integer" />
        </xsi:extension>
      </xsi:simpleContent>
    </xsi:complexType>
  </xsi:element>
  <xsi:element name="units">
    <xsi:complexType>
      <xsi:simpleContent>
        <xsi:extension base="xsi:string">
          <xsi:attributeGroup ref="unitsAttr" />
        </xsi:extension>
      </xsi:simpleContent>
    </xsi:complexType>
  </xsi:element>
  <xsi:attributeGroup name="unitsAttr">
    <xsi:attribute name="unitsAbbreviation" type="xsi:normalizedString" />
    <xsi:attribute name="unitsCode" type="xsi:token" />
    <xsi:attribute name="unitsType" type="UnitsTypeEnum" />
  </xsi:attributeGroup>
  <xsi:simpleType name="UnitsTypeEnum">
    <xsi:restriction base="xsi:string">
      <xsi:enumeration value="Angle" />
      <xsi:enumeration value="Area" />
      <xsi:enumeration value="Dimensionless" />
      <xsi:enumeration value="Energy" />
      <xsi:enumeration value="Energy Flux" />
      <xsi:enumeration value="Flow" />
      <xsi:enumeration value="Force" />
      <xsi:enumeration value="Frequency" />
      <xsi:enumeration value="Length" />
      <xsi:enumeration value="Light" />
      <xsi:enumeration value="Mass" />
      <xsi:enumeration value="Permeability" />
      <xsi:enumeration value="Power" />
      <xsi:enumeration value="Pressure/Stress" />
      <xsi:enumeration value="Resolution" />
      <xsi:enumeration value="Scale" />
      <xsi:enumeration value="Temperature" />
      <xsi:enumeration value="Time" />
      <xsi:enumeration value="Velocity" />
      <xsi:enumeration value="Volume" />
    </xsi:restriction>
  </xsi:simpleType>
  <xsi:complexType name="ValueSingleVariable">
    <xsi:simpleContent>
      <xsi:extension base="xsi:decimal">
        <xsi:attributeGroup ref="ValueAttr" />
        <xsi:attributeGroup ref="offsetAttr" />
        <xsi:attributeGroup ref="DbIdentifiers" />
      </xsi:extension>
    </xsi:simpleContent>
  </xsi:complexType>
  <xsi:element name="qualifier">
    <xsi:annotation>
      <xsi:documentation>qualifying comments that accompany the data</xsi:documentation>
    </xsi:annotation>
    <xsi:complexType>
      <xsi:simpleContent>
        <xsi:extension base="xsi:string">
          <xsi:attribute name="qualifierCode" type="xsi:token" />
          <xsi:attribute name="qualifierID" type="xsi:integer" />
          <xsi:attributeGroup ref="DbIdentifiers" />
          <xsi:attributeGroup ref="VocabularyAttributes" />
        </xsi:extension>
      </xsi:simpleContent>
    </xsi:complexType>
  </xsi:element>
  <xsi:element name="extension" type="xsi:anyType">
    <xsi:annotation>
      <xsi:documentation>In order to simplify comprehension, data sources are encouraged to put additional informaiton in the extension area, using thier own namespace. Clients need not understand information in &amp;lt;extension?</xsi:documentation>
    </xsi:annotation>
  </xsi:element>
  <xsi:complexType name="VariablesResponseType">
    <xsi:annotation>
      <xsi:documentation>VariablesResponseType is object type returned by the method GetVariableInfo. The elemnt name is variablesResponse.  The request will contain a variables element containing a list of variable elements.</xsi:documentation>
    </xsi:annotation>
    <xsi:sequence>
      <xsi:element name="queryInfo" type="QueryInfoType">
        <xsi:annotation>
          <xsi:documentation>the parameter information passed to GetVariableInfo(variable) should be placed in QueryInfoType/criteria/variableParam
See QueryInfoType for more details.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="1" ref="variables">
        <xsi:annotation>
          <xsi:documentation>variables element contains a list of variable elements</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
    </xsi:sequence>
  </xsi:complexType>
  <xsi:complexType name="TimeSeriesResponseType">
    <xsi:sequence>
      <xsi:element name="queryInfo" type="QueryInfoType">
        <xsi:annotation>
          <xsi:documentation>the parameter information passed to Getvalues(location,variable,beginDate,endDate) should be placed in QueryInfoType/criteria/
See QueryInfoType for more details.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element name="timeSeries" type="TimeSeriesType">
        <xsi:annotation>
          <xsi:documentation>Contains the source of the time series, the variable, and values element which is an array of value elements and thier associated metadata (qualifiers, methods, sources, quality control level, samples)</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
    </xsi:sequence>
  </xsi:complexType>
  <xsi:complexType name="SiteInfoResponseType">
    <xsi:annotation>
      <xsi:documentation>A sitesResponse contains a list of zero or more site elements.

The siteInfo element contains the basic site information, siteName, location, siteCodes, properties.
The seriesCatalog contains the list of observation series conducted at a site.

A site element can have two parts: siteInfo, and one or more seriesCatalogs.
Rules:
GetSites(site[]) or GetSites(null), return no seriesCatalogs elements

GetSiteInfo(site) return all information about a site, including the seriesCatalog.</xsi:documentation>
    </xsi:annotation>
    <xsi:sequence>
      <xsi:element name="queryInfo" type="QueryInfoType">
        <xsi:annotation>
          <xsi:documentation>The parameter information passed to GetSiteInfo(site) or GetSites(site[]) should be placed in QueryInfoType/criteria/locationParam
See QueryInfoType for more details.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" maxOccurs="unbounded" ref="site">
        <xsi:annotation>
          <xsi:documentation>A sitesResponse contains a list of zero or more site elements. A site element is</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
    </xsi:sequence>
  </xsi:complexType>
  <xsi:element name="site">
    <xsi:annotation>
      <xsi:documentation>A site element can have two parts: siteInfo, and one or more seriesCatalogs.
The siteInfo element contains the basic site information, siteName, location, siteCodes, properties.
The seriesCatalog contains the list of observation series conducted at a site.

Rules:
GetSites(site[]) or GetSites(null), return no seriesCatalogs elements

GetSiteInfo(site) return all information about a site, including the seriesCatalog.</xsi:documentation>
    </xsi:annotation>
    <xsi:complexType>
      <xsi:sequence>
        <xsi:element name="siteInfo" type="SiteInfoType">
          <xsi:annotation>
            <xsi:documentation>siteInfo element contains  a list of information about a site.
See SiteInfoType</xsi:documentation>
          </xsi:annotation>
        </xsi:element>
        <xsi:element maxOccurs="unbounded" name="seriesCatalog" type="seriesCatalogType" />
        <xsi:element ref="extension">
          <xsi:annotation>
            <xsi:documentation>In order to simplify comprehension, data sources are encouraged to put additional informaiton in the extension area, using thier own namespace. Clients need not understand information in extension element</xsi:documentation>
          </xsi:annotation>
        </xsi:element>
      </xsi:sequence>
    </xsi:complexType>
  </xsi:element>
  <xsi:simpleType name="QualityControlLevelEnum">
    <xsi:restriction base="xsi:string">
      <xsi:enumeration value="Raw data" />
      <xsi:enumeration value="Quality controlled data" />
      <xsi:enumeration value="Derived products" />
      <xsi:enumeration value="Interpreted products" />
      <xsi:enumeration value="Knowledge products" />
      <xsi:enumeration value="Unknown" />
    </xsi:restriction>
  </xsi:simpleType>
  <xsi:element name="qualityControlLevel">
    <xsi:annotation>
      <xsi:documentation>quality control levels that are used for versioning data within the database. </xsi:documentation>
    </xsi:annotation>
    <xsi:complexType>
      <xsi:sequence>
        <xsi:element name="qualityControlLevelID" type="xsi:normalizedString">
          <xsi:annotation>
            <xsi:documentation>Unique integer identifying the quality control level. </xsi:documentation>
          </xsi:annotation>
        </xsi:element>
      </xsi:sequence>
      <xsi:attribute name="qualityControlLevelCode" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>Code used to identify the level of quality control to which data values have been subjected.</xsi:documentation>
        </xsi:annotation>
      </xsi:attribute>
      <xsi:attributeGroup ref="DbIdentifiers" />
      <xsi:attributeGroup ref="VocabularyAttributes" />
    </xsi:complexType>
  </xsi:element>
  <xsi:complexType name="QualityControlLevelType">
    <xsi:annotation>
      <xsi:documentation>Value is the text Code used to identify the level of quality control to which data values have been subjected.</xsi:documentation>
    </xsi:annotation>
    <xsi:simpleContent>
      <xsi:extension base="xsi:string">
        <xsi:attribute name="qualityControlLevelID" type="xsi:int">
          <xsi:annotation>
            <xsi:documentation>Integer identifier that indicates the level of quality control that the data values have been subjected to.</xsi:documentation>
          </xsi:annotation>
        </xsi:attribute>
      </xsi:extension>
    </xsi:simpleContent>
  </xsi:complexType>
  <xsi:simpleType name="SampleMediumEnum">
    <xsi:restriction base="xsi:string">
      <xsi:enumeration value="Surface Water" />
      <xsi:enumeration value="Ground Water" />
      <xsi:enumeration value="Sediment" />
      <xsi:enumeration value="Soil" />
      <xsi:enumeration value="Air" />
      <xsi:enumeration value="Tissue" />
      <xsi:enumeration value="Precipitation" />
      <xsi:enumeration value="Unknown" />
      <xsi:enumeration value="Other" />
      <xsi:enumeration value="Snow" />
      <xsi:enumeration value="Not Relevant" />
    </xsi:restriction>
  </xsi:simpleType>
  <xsi:simpleType name="generalCategoryEnum">
    <xsi:restriction base="xsi:string">
      <xsi:enumeration value="Water Quality" />
      <xsi:enumeration value="Climate" />
      <xsi:enumeration value="Hydrology" />
      <xsi:enumeration value="Geology" />
      <xsi:enumeration value="Biota" />
      <xsi:enumeration value="Unknown" />
      <xsi:enumeration value="Instrumentation" />
    </xsi:restriction>
  </xsi:simpleType>
  <xsi:simpleType name="dataTypeEnum">
    <xsi:restriction base="xsi:string">
      <xsi:enumeration value="Continuous" />
      <xsi:enumeration value="Instantaneous" />
      <xsi:enumeration value="Cumulative" />
      <xsi:enumeration value="Incremental" />
      <xsi:enumeration value="Average" />
      <xsi:enumeration value="Maximum" />
      <xsi:enumeration value="Minimum" />
      <xsi:enumeration value="Constant Over Interval" />
      <xsi:enumeration value="Categorical" />
      <xsi:enumeration value="Best Easy Systematic Estimator " />
      <xsi:enumeration value="Unknown" />
      <xsi:enumeration value="Variance" />
      <xsi:enumeration value="Median" />
      <xsi:enumeration value="Mode" />
      <xsi:enumeration value="Best Easy Systematic Estimator" />
      <xsi:enumeration value="Standard Deviation" />
      <xsi:enumeration value="Skewness" />
      <xsi:enumeration value="Equivalent Mean" />
      <xsi:enumeration value="Sporadic" />
      <xsi:enumeration value="Unknown" />
    </xsi:restriction>
  </xsi:simpleType>
  <xsi:simpleType name="sampleTypeEnum">
    <xsi:restriction base="xsi:string">
      <xsi:enumeration value="FD" />
      <xsi:enumeration value="FF" />
      <xsi:enumeration value="FL" />
      <xsi:enumeration value="LF" />
      <xsi:enumeration value="GW" />
      <xsi:enumeration value="PB" />
      <xsi:enumeration value="PD" />
      <xsi:enumeration value="PE" />
      <xsi:enumeration value="PI" />
      <xsi:enumeration value="PW" />
      <xsi:enumeration value="RE" />
      <xsi:enumeration value="SE" />
      <xsi:enumeration value="SR" />
      <xsi:enumeration value="SS" />
      <xsi:enumeration value="SW" />
      <xsi:enumeration value="TE" />
      <xsi:enumeration value="TI" />
      <xsi:enumeration value="TW" />
      <xsi:enumeration value="VE" />
      <xsi:enumeration value="VI" />
      <xsi:enumeration value="VW" />
      <xsi:enumeration value="Grab" />
      <xsi:enumeration value="Unknown" />
      <xsi:enumeration value="No Sample" />
    </xsi:restriction>
  </xsi:simpleType>
  <xsi:simpleType name="valueTypeEnum">
    <xsi:restriction base="xsi:string">
      <xsi:enumeration value="Field Observation" />
      <xsi:enumeration value="Sample" />
      <xsi:enumeration value="Model Simulation Result" />
      <xsi:enumeration value="Derived Value" />
      <xsi:enumeration value="Unknown" />
    </xsi:restriction>
  </xsi:simpleType>
  <xsi:complexType name="UnitsType">
    <xsi:sequence>
      <xsi:element name="UnitName" type="xsi:string" />
      <xsi:element name="UnitDescription" type="xsi:string" />
      <xsi:element name="UnitType" type="UnitsTypeEnum" />
      <xsi:element name="UnitAbbreviation" type="xsi:string" />
    </xsi:sequence>
    <xsi:attribute name="UnitID" type="xsi:int" />
  </xsi:complexType>
  <xsi:complexType name="MethodType">
    <xsi:annotation>
      <xsi:documentation>Method used to collect the data and any additional information about the method.

@methodId is the link to value/@method

As per communication from the ODM designers, multiple instruments observing the same variable, should be different methods.

Methods should describe the manner in which the observation was collected (i.e., collected manually, or collected using an automated sampler) or measured (i.e., measured using a temperature sensor or measured using a turbidity sensor).  Details about the specific sensor models and manufacturers can be included in the MethodDescription</xsi:documentation>
    </xsi:annotation>
    <xsi:sequence>
      <xsi:element name="MethodDescription" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>Text description of each method.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element name="MethodLink" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>Link to additional reference material on the method.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
    </xsi:sequence>
    <xsi:attribute name="methodID" type="xsi:int" />
  </xsi:complexType>
  <xsi:complexType name="SampleType">
    <xsi:annotation>
      <xsi:documentation>information about physical samples analyzed in a laboratory.

@sampleID is the link to the datavalues/@sampleID

LabSampleCode is the sample code. In WaterML 1.1 this will be the link to the dataValue

SampleType describes the the sample type 

LabMethod is a LabMethodType containing infomration about lab methods
</xsi:documentation>
    </xsi:annotation>
    <xsi:sequence>
      <xsi:element name="labSampleCode" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>Code or label used to identify and track lab sample or sample container (e.g. bottle) during lab analysis.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element name="SampleType" type="sampleTypeEnum">
        <xsi:annotation>
          <xsi:documentation>Controlled vocabulary specifying the sample type from the SampleTypeEnum.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" name="LabMethod" type="LabMethodType">
        <xsi:annotation>
          <xsi:documentation>LabMethod is a LabMethodType containing infomration about lab methods</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
    </xsi:sequence>
    <xsi:attribute name="sampleID" type="xsi:int" />
  </xsi:complexType>
  <xsi:complexType name="LabMethodType">
    <xsi:annotation>
      <xsi:documentation>contains descriptions of the laboratory methods used to analyze physical samples for specific constituents.</xsi:documentation>
    </xsi:annotation>
    <xsi:sequence>
      <xsi:element minOccurs="0" name="labName" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>Name of the laboratory responsible for processing the sample.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" name="labOrganization" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>Organization responsible for sample analysis.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" name="LabMethodName" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>Name of the method and protocols used for sample analysis.

Suggest using nemi names and codes
http://www.nemi.gov/

“USEPA-365.1”</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" name="labMethodDescription" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>Description of the method and protocols used for sample analysis.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element name="labMethodLink" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>Link to additional reference material on the analysis method.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
    </xsi:sequence>
    <xsi:attribute name="labMethodID" type="xsi:int">
      <xsi:annotation>
        <xsi:documentation>Unique integer identifier for each laboratory method. This is the key used by the Samples table to reference a laboratory method.</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
  </xsi:complexType>
  <xsi:complexType name="SourceType">
    <xsi:annotation>
      <xsi:documentation>original sources of the data, providing information sufficient to retrieve and reconstruct the data value from the original data files if necessary</xsi:documentation>
    </xsi:annotation>
    <xsi:sequence>
      <xsi:element minOccurs="0" maxOccurs="1" name="Organization" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>Name of the organization that collected the data. This should be the agency or organization that collected the data, even if it came out of a database consolidated from many sources such as STORET.

“Utah Division of Water Quality”</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" maxOccurs="1" name="SourceDescription" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>Full text description of the source of the data.

“Text file retrieved from the EPA STORET system indicating data originally from Utah Division of Water Quality”</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" name="Metadata" type="MetaDataType">
        <xsi:annotation>
          <xsi:documentation>MetadataType contains the information from the ODM table IsoMetadata. It is anticpated that many data sources may not have this fully available.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" name="ContactInformation" type="ContactInformationType">
        <xsi:annotation>
          <xsi:documentation>Contact information about source.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" name="SourceLink" type="xsi:anyURI">
        <xsi:annotation>
          <xsi:documentation>Link that can be pointed at the original data file and/or associated metadata stored in the digital library or URL of data source.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
    </xsi:sequence>
    <xsi:attribute name="sourceID" type="xsi:int">
      <xsi:annotation>
        <xsi:documentation>Unique integer identifier that identifies each data source.

link to datavalues/@sourceID</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
  </xsi:complexType>
  <xsi:complexType name="ContactInformationType">
    <xsi:annotation>
      <xsi:documentation>Contains information about a contact.
A contact can be a person or an agency.
The name of the contact is required.

And address, email or phone is suggested. (in 1.1 one of these will be required.</xsi:documentation>
    </xsi:annotation>
    <xsi:sequence>
      <xsi:element minOccurs="1" maxOccurs="1" name="ContactName" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>name of contact, or title of organization</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" maxOccurs="1" name="TypeOfContact" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>Type of contact, in open terms:
Project Contact
Data source contact
HIS Admin
Data Source Admin
Data Base Admin</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" name="Phone" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>phone</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" name="Email" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>email address</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" name="Address" type="xsi:anyType">
        <xsi:annotation>
          <xsi:documentation>Any address element structure that can be used to communicate contact information.
</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
    </xsi:sequence>
  </xsi:complexType>
  <xsi:complexType name="MetaDataType">
    <xsi:annotation>
      <xsi:documentation>MetadataType contains the information from the ODM table IsoMetadata. It is anticpated that many data sources may not have this fully available.

 IsoMetadata table contains dataset and project level metadata required by the CUAHSI HIS metadata system (http://www.cuahsi.org/his/documentation.html) for compliance with standards such as the draft ISO 19115 or ISO 8601.  The mandatory fields in this table must be populated to provide a complete set of ISO compliant metadata in the database.  </xsi:documentation>
    </xsi:annotation>
    <xsi:sequence>
      <xsi:element minOccurs="0" maxOccurs="1" name="TopicCategory" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>Topic category keyword that gives the broad ISO19115 metadata topic category for data from this source.  The controlled vocabulary of topic category keywords is given in the TopicCategoryCV table.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" maxOccurs="1" name="Title" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>Title of data from a specific data source.

Title field should be populated with a brief text description of what the referenced data represent.  This field can be populated with “Unknown” if there is no title for the data.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" maxOccurs="1" name="Abstract" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>Abstract of data from a specific data source.

Abstract field should be populated with a more complete text description of the data that the metadata record references. This field can be populated with “Unknown” if there is no abstract for the data.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" maxOccurs="1" name="ProfileVersion" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>Name of metadata profile used by the data source</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" maxOccurs="1" name="MetadataLink" type="xsi:anyURI">
        <xsi:annotation>
          <xsi:documentation>Link to additional metadata reference material.</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
    </xsi:sequence>
  </xsi:complexType>
  <xsi:complexType name="OffsetType">
    <xsi:annotation>
      <xsi:documentation>OffsetType  contains full descriptive information for each of the measurement offsets.
A set of observations may be done at an offset for the central location.

offsetTypeID links to dataValue/@offsetTypeId</xsi:documentation>
    </xsi:annotation>
    <xsi:sequence>
      <xsi:element minOccurs="1" maxOccurs="1" name="offsetValue" type="xsi:float">
        <xsi:annotation>
          <xsi:documentation>offsetValue element is value of offset.
If 0, then offset is not needed, and offsetTypeId should not be included on the dataValue
</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="1" maxOccurs="1" name="offsetDescription" type="xsi:string">
        <xsi:annotation>
          <xsi:documentation>Full text description of the offset type.

Field should be filled in with a complete text description of the offset that provides enough information to interpret the type of offset being used.  For example, “Distance from stream bank” is ambiguous because it is not known which bank is being referred to.  </xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element ref="units">
        <xsi:annotation>
          <xsi:documentation>Units of the offsetValue</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" maxOccurs="1" default="true" name="offsetIsVertical" type="xsi:boolean">
        <xsi:annotation>
          <xsi:documentation>By default, the offset is vertical. 
If the offset is horizontal, then this becomes a direction, and distance from the observation point</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
      <xsi:element minOccurs="0" maxOccurs="1" name="offsetHorizDirectionDegrees" type="xsi:int">
        <xsi:annotation>
          <xsi:documentation>if offsetIsVertical=false, then this is the direction of the offset</xsi:documentation>
        </xsi:annotation>
      </xsi:element>
    </xsi:sequence>
    <xsi:attribute name="offsetTypeID" type="xsi:int">
      <xsi:annotation>
        <xsi:documentation>Unique integer identifier that identifies the type of measurement offset.

Suggested that this is offsetType from ODM database.</xsi:documentation>
      </xsi:annotation>
    </xsi:attribute>
  </xsi:complexType>
</xsi:schema>